/* INDEX */
@font-face {
    font-family: "armata";
    src: url(../assets/fonts/Armata/Armata-Regular.ttf);
}

/* ¿¿*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 230vh;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 120px;
}

header{
    width: 100vw;
    height: 30vh;
}

main{
    width: 100vw;
    height: 190vh;
    font-size: 0;
    min-width: 0;
    
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: #1895cf;
    position: absolute;
    bottom: 0;
}

.textoNegritaFooter{
    font-weight: bold;
    color: white;
    font-family: "armata";
    text-align: center;        
}
    
nav{
    background-color: #1895cf;   
}

#logoFunko2{
    display: block;
    margin: auto;
    padding-bottom: 40px;
    width: 200px;
    height: 100;
    padding-top: 50px;
    opacity: .8;
}

#logosRedes{
    float: left;
    margin-left: 20px;
    position: relative;
    bottom: 150px;
}

.logosRedes__Instagram{
    height: 30px;
    width: 30px;
}

.logosRedes__Facebook{
    height: 30px;
    width: 40px;
}

.logosRedes__Twitter{
    height: 35px;
    width: 35px;    
}

#botonLogin{
    float: right;
    position: relative;
    bottom: 40px;
    right: 70px;
}

#botonRegistro{
    float: right;
    position: relative;
    bottom: 70px;
    right: 20px;
}

#buscador{
    float: right;
    position: relative;
    bottom: 35px;
    right: 20px;
}

.reseteoListas a:link,
    a:visited,
    a:active {
        text-decoration: none;
        list-style-type: none;
        color: white;
        font-weight: bold;
        font-style: normal;
        font-family: "armata";        
    }

#fotoMuchosPops{
    width: 100%; 
    margin-top: 0;    
}

#videos{
    width: 45%;
    height: 400px;
    background-color: #73def1;
    border: black solid 3px;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 1rem;
}

.videoPrincipal{
    color: black;
    font-family: "armata";
    font-weight: bolder;
}

.video__Titulo{
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

.video__Texto{
    font-size: 12px;
    font-weight:500;
    line-height: 15px;
    margin-left: 10px;
}

iframe{
    position:relative;
    top: 35px;
    left: 80px;
    border: black solid 3px;
}

#fotos{
    width: 45%;
    height: 400px;
    background-color: #fc6863;
    border: black solid 3px;
    float: right;
    margin-top: 10px;
    margin-right: 55px;
    font-size: 1rem;
}

.fotoPrincipal{
    color: black;
    font-family: "armata";
    font-weight: bolder;
    text-align: center;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
    color: black;    
}

.foto__Titulo{
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

.foto__Texto{
    font-size: 12px;
    font-weight:500;
    line-height: 18px;
    text-align: center;
}

#fotoDeFotos{
    width: 400px;
    height: 250px;
    margin-top: 45px;
    border: black solid 3px;
}

ul{
    text-align: center;
}

ul li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 10px;
    margin: 5px;
    position: center;
}

#picSpider{
    width: 100%;
    height: 70vh;
    float: right;
    background-image: url(../assets/imagenes/wallStars.jpg);
}

#spiderManPortada{
    width: 350px;
    height: 350px;
    margin-left: 250px;
    margin-top: 25px;
}

.slogan{
    color: black;
    font-family: "armata";
    font-size: 30px;
    font-weight: bolder;
    text-align: right;
    font-style: oblique;
    position: relative;
    bottom: 170px;
    right: 250px;
} */


/* HISTORIA */

.parrafo{
    font-family: "armata";
    font-size: 16px;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 26px; 
}

#parrafoUno{
   margin-top: 30px;
   padding-top: 30px;
   margin-bottom: 10px;
   padding-bottom: 10px;
}

.parrafo__Titulo{
    line-height: 50px;
}

#fotoTiendaFunko{
    width: 350px;
    height: 230px;
}

#fotoHistoriaUno{
    width: 29%;
    height: 39vh;
    float: left;
    margin-top: 23px;
}

#parrafoDos{
    width: 70%;
    float: right;
}

#parrafoTres{
    width: 68%;
    float: left;
    position: relative;
    top: 25px;
}

#fotoTiendaFunkoDos{
    width: 350px;
    height: 230px;
}

#fotoHistoriaDos{
    width: 30%;
    float: right;
    padding-right: 40px;
    padding-top: 10px;
}

#fotoHileraPops{
    width:98%;
    margin-left: 20px;
}



/* COMUNIDAD */

.comunidad{
    font-family: "armata";
    font-size: 30px;
    font-weight: bold;
    line-height: 55px; 
    color: black;  
}

.comunidad__Texto{
    font-size: 18px;
    font-family: "armata";
    text-align: center;
    margin: 10px;
}

.foro{
    background-color:#fc6863;
    border: black solid 3px;
    width: 300px;
    height: 400px;
    float: left;
    margin: 20px 20px 20px 130px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.foro__Titulo{
    font-family: "armata";
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

#logoForo{
    width: 300px;
    height: 250px;
    margin-top: 30px;
}

.telegram{
    background-color:rgb(29, 204, 146);
    border: black solid 3px;
    width: 300px;
    height: 400px;
    float: left;
    margin: 20px 20px 20px 20px;
    padding-top: 30px;
    padding-bottom: 30px;    
}

#logoTelegram{
    width: 200px;
    height: 200px;
    position: relative;
    left: 50px;
    top: 55px;
} 

.discord{
    background-color:#99f58f;
    border: black solid 3px;
    width: 300px;
    height: 400px;
    float: left;
    margin: 20px 20px 20px 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#logoDiscord{
    width: 200px;
    height: 200px;
    position: relative;
    left: 50px;
    top: 55px;
}



/* COLECCIONES */

.marvel{
    width: 95%;
    height: 325px;
    border: black solid 4px; 
    background-color:#f47fb4;
    margin-left: 20px;
    margin-bottom: 15px; 
}

#wallCapi{
    width: 410px;
    height: 240px;
    float: right;
    margin-right: 180px; 
    margin-top: 40px;
    border: black solid 2px; 
}

.dc{
    width: 95%;
    height: 325px;
    border: black solid 4px; 
    background-color:#f0f47a;
    margin-left: 20px;
    margin-bottom: 15px; 
}

#wallFlash{
    width: 410px;
    height: 240px;
    float: right;
    margin-right: 180px; 
    margin-top: 40px;
    border: black solid 2px; 
}

.sw{
    width: 95%;
    height: 325px;
    border: black solid 4px; 
    background-color:#76f386; 
    margin-left: 20px;
    margin-bottom: 15px;  
}

#wallSw{
    width: 410px;
    height: 240px;
    float: right;
    margin-right: 180px; 
    margin-top: 40px;
    border: black solid 2px; 
}

.categoria{
    font-family: "armata";
    font-size: 35px;
    font-weight: bolder;
    position: relative;
    top: 150px;
    left: 250px; 
}

.shop{
    color: #f33289;
    font-family: "armata";
    font-size: 25px;
    font-weight: bold;
    float: right;
    margin-right: 60px;
    margin-top: 15px;
}



CONTACTO

.formulario{
    margin-left: 40px;
    margin-right: 35px;
}

.datos{
    font-family: "armata";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

label{
    font-size: 13px;
    font-weight: lighter;
    line-height:60px;
    margin-left: 20px;
}

.textoDatos{
    font-size: 13px;
    font-weight: lighter;
    line-height: 60px;
    margin-left: 20px;
}

:placeholder-shown{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

/* A partir de esta línea se trabaja con Grid+FlexBox

INDEX */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.3fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "logosRedes imgFunko fuenteBoton"
    "logosRedes imgFunko fuenteBoton"
    "logosRedes imgFunko fuenteBoton";

}

#logosRedes{
    grid-area: logosRedes;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ig fb tw";
    grid-row-gap: 5px;
    padding-top: 10px;
    padding-left: 5px;
}

.logosRedes__Instagram{
    height: 30px;
    width: 30px;
    grid-area: ig;
    align-self: stretch;
}

.logosRedes__Facebook{
    height: 30px;
    width: 40px;
    grid-area: fb;
}

.logosRedes__Twitter{
    height: 35px;
    width: 35px;
    grid-area: tw;
    padding-left: 6px;    
}

#imgFunko{
    grid-area: imgFunko;
    justify-self: center;
    align-self: center;
}

#logoFunko2{
    width: 200px;
    height: 100;
    opacity: .8;
}

#fuenteBoton{
    grid-area: fuenteBoton;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "botonLogin"
    "botonRegistro";
    grid-row-gap: 10px;
    
}

#botonLogin{
    grid-area: botonLogin;
    
}

#botonRegistro{
    grid-area: botonRegistro;
}

nav{
    height: 12vh;
    grid-area: nav;
    background-color: #1895cf;
    display: flex;
    justify-content: center;
    align-items: center; 
}

ul li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 10px;
    margin: 5px;
}

.reseteoListas a:link,
    a:visited,
    a:active {
        text-decoration: none;
        list-style-type: none;
        color: white;
        font-weight: bold;
        font-style: normal;
        font-family: "armata";        
    }

#mainIndex{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "fotoPortada"
        "multimedia"
        "picSpider"; 
}

#fotoPortada{
    grid-area: fotoPortada;
}

#fotoMuchosPops{
    width: 100%;   
} 

#multimedia{
    grid-area: multimedia;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "videos fotos";
        grid-column-gap: 30px;
    justify-content: center;    
}

#videos{
    height: 400px;
    background-color: #73def1;
    border: #1c8294 solid 3px;
    grid-area: videos;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: 
    "videoPrincipal"
    "iframeV"; 
}

.videoPrincipal{
    color: black;
    font-family: "armata";
    font-weight: bolder;
    grid-area: videoPrincipal;
}

.video__Titulo{
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

.video__Texto{
    font-size: 12px;
    font-weight:500;
    line-height: 15px;
    margin-left: 20px;
    margin-right: 20px;  
}

iframe{
    border: black solid 3px;
}

#iframeV{
    grid-area: iframeV;
    justify-self: center;
}


#fotos{
    height: 400px;
    background-color: #fc6863;
    border: #c23a35 solid 3px;
    grid-area: fotos;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: 
    "fotoPrincipal"
    "portadaFotos"; 
}

.fotoPrincipal{
    color: black;
    font-family: "armata";
    font-weight: bolder;
    text-align: center;
    grid-area: fotoPrincipal;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
    color: black;    
}

.foto__Titulo{
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

.foto__Texto{
    font-size: 12px;
    font-weight:500;
    line-height: 18px;
    text-align: center;
}

#portadaFotos{
    grid-area: portadaFotos;
    justify-self: center;
}

#portadaDeFotos{
    width: 400px;
    height: 250px;
    border: black solid 3px;
}



#picSpider{
    grid-area: picSpider;
    background-image: url(../assets/imagenes/wallStars.jpg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "spiderManIndex slogan";

}

#spiderManIndex{
    grid-area: spiderManIndex;
    justify-self: right;

}

#spiderManPortada{
    width: 400px;
    height: 400px;
    
}

#slogan{
    color: black;
    font-family: "armata";
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    font-style: oblique;
    grid-area: slogan;
    align-self: center;
    justify-self: center;
    
}

footer{
    height: 10vh;
    background-color: #1895cf;
    grid-area: footer;
}

.textoNegritaFooter{
    font-weight: bold;
    color: white;
    font-family: "armata";
    text-align: center;        
}


