@font-face {
    font-family: "armata";
    src: url(../assets/fonts/Armata/Armata-Regular.ttf);
}

/* Desktop first */

/* HISTORIA */

.parrafo{
    font-family: "armata";
    font-size: 16px;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 26px; 
}


.parrafo__Titulo{
    line-height: 50px;
}

#fotoTiendaFunko{
    width: 350px;
    height: 230px;
}

#fotoHistoriaUno{
    width: 29%;
    height: 39vh;
    float: left;
    margin-top: 23px;
}

#parrafoDos{
    width: 70%;
    float: right;
}

#parrafoTres{
    width: 68%;
    float: left;
    position: relative;
    top: 25px;
}

#fotoTiendaFunkoDos{
    width: 350px;
    height: 230px;
}

#fotoHistoriaDos{
    width: 30%;
    float: right;
    padding-right: 40px;
    padding-top: 10px;
}

#fotoHileraPops{
    width:98%;
    margin-left: 20px;
}

/* COLECCIONES */

.marvel{
    width: 95%;
    height: 325px;
    border: black solid 4px; 
    background-color:#f47fb4;
    margin-left: 20px;
    margin-bottom: 15px; 
}

#wallCapi{
    width: 410px;
    height: 240px;
    float: right;
    margin-right: 180px; 
    margin-top: 40px;
    border: black solid 2px; 
}

.dc{
    width: 95%;
    height: 325px;
    border: black solid 4px; 
    background-color:#f0f47a;
    margin-left: 20px;
    margin-bottom: 15px; 
}

#wallFlash{
    width: 410px;
    height: 240px;
    float: right;
    margin-right: 180px; 
    margin-top: 40px;
    border: black solid 2px; 
}

.sw{
    width: 95%;
    height: 325px;
    border: black solid 4px; 
    background-color:#76f386; 
    margin-left: 20px;
    margin-bottom: 15px;  
}

#wallSw{
    width: 410px;
    height: 240px;
    float: right;
    margin-right: 180px; 
    margin-top: 40px;
    border: black solid 2px; 
}

.categoria{
    font-family: "armata";
    font-size: 35px;
    font-weight: bolder;
    position: relative;
    top: 150px;
    left: 250px; 
}

.shop{
    color: #f33289;
    font-family: "armata";
    font-size: 25px;
    font-weight: bold;
    float: right;
    margin-right: 60px;
    margin-top: 15px;
}



/* CONTACTO */

.formulario{
    margin-left: 40px;
    margin-right: 35px;
}

.datos{
    font-family: "armata";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

label{
    font-size: 13px;
    font-weight: lighter;
    line-height:60px;
    margin-left: 20px;
}

.textoDatos{
    font-size: 13px;
    font-weight: lighter;
    line-height: 60px;
    margin-left: 20px;
}

:placeholder-shown{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}






/* A partir de esta línea se trabaja con Grid+FlexBox

INDEX */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 5% 84% 1%;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.3fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "logosRedes imgFunko fuenteBoton"
    "logosRedes imgFunko fuenteBoton"
    "logosRedes imgFunko fuenteBoton";
}

#logosRedes{
    grid-area: logosRedes;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ig fb tw";
    grid-row-gap: 5px;
    padding-top: 10px;
    padding-left: 5px;
}

.logosRedes__Instagram{
    height: 30px;
    width: 30px;
    grid-area: ig;
    align-self: stretch;
}

.logosRedes__Facebook{
    height: 30px;
    width: 40px;
    grid-area: fb;
}

.logosRedes__Twitter{
    height: 35px;
    width: 35px;
    grid-area: tw;
    padding-left: 6px;    
}

#imgFunko{
    grid-area: imgFunko;
    justify-self: center;
    align-self: center;
}

#logoFunko2{
    width: 190px;
    height: 70px;
    opacity: .8;
}

#fuenteBoton{
    grid-area: fuenteBoton;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "botonLogin"
    "botonRegistro";
    grid-row-gap: 10px;
}

#botonLogin{
    grid-area: botonLogin;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: #39a7da solid 3px;
    font-family: "armata";
    font-weight: bold;
}

#botonRegistro{
    grid-area: botonRegistro;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: #39a7da solid 3px;
    font-family: "armata";
    font-weight: bold;
    
}

nav{
    height: 12vh;
    grid-area: nav;
    background-color: #1895cf;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "listaMenu buscador";
    justify-content: center;
    align-items: center; 
    justify-items: right;
}

ul li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 10px;
    margin: 5px;
    grid-area: listaMenu;
}

#botonBuscar{
    height: 25px;
    width: 50px;
    color: white;
    font-size: 15px;
    font-family: "armata";
    font-weight: bold;
    border: none;
    background-color: transparent;
}

#busqueda{
    height: 25px;
    width: 130px;
    border-radius: 15px;
    border: white;
  
}

#buscador{
    grid-area: buscador;
    justify-self: center;   
}

.reseteoListas a:link,
    a:visited,
    a:active {
        text-decoration: none;
        list-style-type: none;
        color: white;
        font-weight: bold;
        font-style: normal;
        font-family: "armata";        
    }

#mainIndex{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "fotoPortada"
        "multimedia"
        "picSpider"; 
}

#fotoPortada{
    grid-area: fotoPortada;
    align-self: center;
}

#fotoMuchosPops{
    width: 100%;   
} 

#multimedia{
    grid-area: multimedia;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "videos fotos";
        grid-column-gap: 30px;
    justify-content: center;  
}

#videos{
    height: 400px;
    background-color: #73def1;
    border: #1c8294 solid 3px;
    grid-area: videos;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: 
    "videoPrincipal"
    "iframeV"; 
}

.videoPrincipal{
    color: black;
    font-family: "armata";
    font-weight: bolder;
    grid-area: videoPrincipal;
}

.video__Titulo{
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

.video__Texto{
    font-size: 12px;
    font-weight:500;
    line-height: 15px;
    margin-left: 20px;
    margin-right: 20px;  
}

iframe{
    border: black solid 3px;
    width: 399px;
    height: 249px; 
}

#iframeV{
    grid-area: iframeV;
    justify-self: center;
}

#fotos{
    height: 400px;
    background-color: #fc6863;
    border: #c23a35 solid 3px;
    grid-area: fotos;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: 
    "fotoPrincipal"
    "portadaFotos"; 
}

.fotoPrincipal{
    color: black;
    font-family: "armata";
    font-weight: bolder;
    text-align: center;
    grid-area: fotoPrincipal;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
    color: black;    
}

.foto__Titulo{
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

.foto__Texto{
    font-size: 12px;
    font-weight:500;
    line-height: 18px;
    text-align: center;
    
}

#portadaFotos{
    grid-area: portadaFotos;
    justify-self: center;
}

#portadaDeFotos{
    width: 400px;
    height: 250px;
    border: black solid 3px;
}

#picSpider{
    grid-area: picSpider;
    background-image: url(../assets/imagenes/wallStars.jpg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "spiderManIndex slogan";
}

#spiderManIndex{
    grid-area: spiderManIndex;
    justify-self: right;
}

#spiderManPortada{
    width: 400px;
    height: 400px;
    animation-name: moverSpider;
    animation-duration: 2s;
    transition: all 2s;
}

#spiderManPortada:hover{
    transform: translate(-200px);
}

#slogan{
    color: black;
    font-family: "armata";
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    font-style: oblique;
    grid-area: slogan;
    align-self: center;
    justify-self: center;
    translate: -100px ;
    transition-duration: 1s;
}

#slogan:hover{
    transform:scale(1.3);
}

footer{
    height: 10vh;
    background-color: #1895cf;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas:
    "textoFooter";
}

.textoNegritaFooter{
    font-weight: bold;
    color: white;
    font-family: "armata";
    margin-top: 20px;
}

#textoFooter{
    grid-area: textoFooter;
    justify-self: center;
    align-self: end;
}


/* COMUNIDAD */
#mainComunidad{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "tituloComunidad tituloComunidad tituloComunidad"
        "foro telegram discord";
}

#tituloComunidad{
    grid-area: tituloComunidad;
    align-self: center;
}

.comunidad{
    font-family: "armata";
    font-size: 30px;
    font-weight: bold;
    line-height: 55px; 
    color: black;  
    grid-area: comunidad;
}

.comunidad__Texto{
    font-size: 18px;
    font-family: "armata";
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    grid-area: comunidadTexto;
    /* align-self: start; */
}

.foro{
    background-color:#fc6863;
    border: #f44741 solid 4px;
    width: 300px;
    height: 450px;
    grid-area: foro;
    justify-self: right;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "foroTitulo"
        "comunidadTexto"
        "comunidad"; 
    animation-name: animTeleg;
    animation-duration: 1s;
    justify-items: center;  
}

@keyframes animForo {
    from{
        transform: translate(0) scale(0);
    }to{
        transform: translate(100) scale(1.2);
    }
 }

.foro__Titulo{
    font-family: "armata";
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    grid-area: foroTitulo;
    align-self: center;
    
}

#logoForo{
    width: 300px;
    height: 250px;
}

.telegram{
    background-color:rgb(29, 204, 146);
    border: rgb(10, 160, 110) solid 4px;
    width: 300px;
    height: 450px;
    grid-area: telegram;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "foroTitulo"
        "comunidadTexto"
        "comunidad"; 
    animation-name: animTeleg;
    animation-duration: 1s;
    justify-items: center;
}

@keyframes animTeleg {
    from{
        transform: translate(0) scale(0);
    }to{
        transform: translate(100) scale(1.2);
    }
 }

#logoTelegram{
    width: 200px;
    height: 200px;   
} 

.discord{
    background-color:#dcdc72;
    border: #c9c949 solid 4px;
    width: 300px;
    height: 450px;
    grid-area: discord;
    justify-self: left;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "foroTitulo"
        "comunidadTexto"
        "comunidad"; 
    animation-name: animDisc;
    animation-duration: 1s;
    justify-items: center;
}

@keyframes animDisc {
    from{
        transform: translate(0) scale(0) ;
    }to{
        transform: translate(100) scale(1) ;
    }
 }

#logoDiscord{
    width: 200px;
    height: 200px;   
}


/* Media Queries */

@media screen and (max-width: 1024px){
    /* INDEX */
    #mainIndex{
        grid-template-rows: 1r repeat(2, 1fr);
    }

    #multimedia{
        grid-template-columns: 40% 40%;
        grid-column-gap: 55px;
    }

    .video__Titulo{
        margin-top: 20px;
        line-height: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .video__Texto{
        margin-top: 20px;  
        text-align: center;
    }

    iframe{
        width: 359px;
        height: 200px;
    }

    #iframeV{
        align-self: center;
    }

    .foto__Texto{
        margin-top: 30px;  
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    
    #portadaDeFotos{
        width: 359px;
        height: 200px;
    }

    #portadaFotos{
        align-self: center;
    }
}

@media screen and (max-width: 768px){
    /* INDEX */
    header{
        grid-template-columns: 0.3fr 2fr 0.5fr ;
    }

    nav{
        height: 11vh;
    }

    ul li{
        padding: 8px;
    }
    
    .reseteoListas a:link,
        a:visited,
        a:active { 
            font-size: 13px;      
    }
    
    #buscador{
        grid-area: buscador;
        justify-self: center; 
        align-self: center;   
    }
    
    #mainIndex{
        grid-template-rows: 0.6fr 1fr 0.1fr;
    }

    #multimedia{
        grid-template-columns: 46% 46%;
        grid-column-gap: 20px;
    }

    .video__Titulo{
        line-height: 25px;
    }

    .video__Texto{
        margin-top: 20px;  
    }

    iframe{
        width: 300px;
        height: 150px;
    }

    .fotoPrincipal{
        margin-top: 20px;
    }

    .foto__Titulo{
        line-height: 25px;
    }
    
    .foto__Texto{
        margin-top: 20px;  
    }
    
    #portadaDeFotos{
        width: 250px;
        height: 150px;
    }

    #portadaFotos{
        margin-top: 20px;
    }
    
    #spiderManPortada{
        width: 300px;
        height: 300px;
    }
    
    #slogan{
        font-size: 22px;
    }
    
    footer{
        height: 14vh;
    }


    /* COMUNIDAD */
    .foro{
        width: 200px;
        height: 400px;
    }

    .foro__Titulo{
        font-size: 25px;
    }

    .comunidad__Texto{
        font-size: 12px;
        margin-left: 7px;
        margin-right: 7px;
    }
    
    #logoForo{
        width: 200px;
        height: 150px;
    }

    .telegram{
        width: 200px;
        height: 400px;
    }

    #logoTelegram{
        width: 150px;
        height: 150px; 
    } 

    .discord{
        width: 200px;
        height: 400px;
    }

    #logoDiscord{
        width: 150px;
        height: 150px;    
    }
}

@media screen and (max-width: 600px){
    /* INDEX */
    #logoFunko2{
        width: 150px;
        height: 50px;
    }

    nav{
        height: 9vh;
    }

    ul li{
        padding: 7px;
    }
    
    .reseteoListas a:link,
        a:visited,
        a:active { 
            font-size: 10px;      
    }
    
    #mainIndex{
        grid-template-rows: 0.5fr 1fr 0.5fr;
    }

    #multimedia{
        grid-template-columns: 45% 45%;
        grid-column-gap: 12px;
    }

    .video__Titulo{
        font-size: 15px;
        line-height: 20px;
    }

    .video__Texto{
        font-size: 11px;    
    }

    iframe{
        width: 200px;
    }

    .foto__Titulo{
        font-size: 15px;
        line-height: 20px;
    }

    .foto__Texto{
        font-size: 11px;
    }
    
    #portadaDeFotos{
        width: 210px;
        height: 140px;
    }

    #portadaFotos{
        margin-top: 5px;
    }
    
    #spiderManPortada{
        width: 250px;
        height: 250px;
    }
    
    #slogan{
        font-size: 17px;
        justify-self: right;
        translate: -50px;
    }

    footer{
        height: 13vh;
    }
    
    .textoNegritaFooter{
        font-size: 14px;
    }


    /* COMUNIDAD */
    #mainComunidad{
        grid-template-rows: 30% 60%;
    }

    .parrafo__Titulo{
        font-size: 22px;
    }

    .parrafo__Texto{
        font-size: 15px;
    }

    .foro{
        width: 150px;
        height: 350px;
    }

    .foro__Titulo{
        font-size: 20px;
    }

    .comunidad__Texto{
        font-size: 10px;
    }
    
    #logoForo{
        width: 150px;
        height: 120px;
    }

    .telegram{
        width: 150px;
        height: 350px;
        justify-items: center;
        
    }

    #logoTelegram{
        width: 120px;
        height: 110px; 
    } 

    .discord{
        width: 150px;
        height: 350px;
    }

    #logoDiscord{
        width: 120px;
        height: 110px;     
    }
}


@media screen and (max-width: 480px){
    /* INDEX */
    body{
        grid-template-rows: 10% 18% 68% 1%;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    }

    header{
        grid-template-columns: 2fr 0.1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imgFunko fuenteBoton"
        "imgFunko fuenteBoton";
    }

    #logosRedes, #buscador{
        display: none;
    }

    #logoFunko2{
        translate: 45px;
    }

    #botonLogin{
        margin-right: 10px;
    }
    
    #botonRegistro{
        margin-right: 10px;    
    }

    nav{
        height: 35vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "listaMenu";     
        justify-items: center;
    }
    
    ul li{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 8px;        
    }

    .reseteoListas a:link,
    a:visited,
    a:active {
        font-size: 8px;
        text-align: center;        
    }

    .video__Titulo{
        font-size: 13px;
        line-height: 18px;
    }

    .video__Texto{
        font-size: 10px;    
    }

    iframe{
        width: 170px;
    }

    .foto__Titulo{
        font-size: 13px;
        line-height: 18px;
    }

    .foto__Texto{
        font-size: 10px;  
    }
    
    #portadaDeFotos{
        width: 190px;
        height: 140px;
        margin-top: 5px;
    }

    #portadaFotos{
        margin-top: 5px;
    }
    
    #spiderManIndex{
        margin-top: 15px;
    }

    #spiderManPortada{
        width: 220px;
        height: 220px;
    }
    
    #slogan{
        font-size: 15px;
        justify-self: left;
        translate: -40px ;
    }

    footer{
        height: 12vh;
    }


    /* COMUNIDAD */
    #mainComunidad{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "tituloComunidad"
            "foro"
            "telegram"
            "discord";
            grid-row-gap: 20px;
    }

    #tituloComunidad{
        margin-top: 40px;
    }

    .foro{
        width: 450px;
        height: 90px;
        justify-self: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "comunidad foroTitulo";
        align-content: center;

    }

    .comunidad{
        justify-self: right;
        margin-top: 10px;
    }

    .foro__Titulo{
        font-size: 25px;
        justify-self: left;
        align-self: center;
        padding-left: 15px;
    }

    .comunidad__Texto{
        display: none;
    }

    #logoForo{
        width: 120px;
        height: 90px;
        margin-top: 25px;        
    }

    .telegram{
        width: 450px;
        height: 90px;
        justify-self: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "comunidad foroTitulo";
    }

    #logoTelegram{
        width: 80px;
        height: 70px; 
    } 

    .discord{
        width: 450px;
        height: 90px;
        justify-self: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "comunidad foroTitulo";
    }

    #logoDiscord{
        width: 80px;
        height: 70px;    
    } 
}

@media screen and (max-width: 320px){
    #logoFunko2{
        width: 120px;
        height: 43px;
        translate: 20px;
    }

    #mainIndex{
        grid-template-rows: 0.6fr 2fr 0.1fr;
    }

    .video__Titulo{
        font-size: 9px;
        line-height: 15px;
    }

    .video__Texto{
        font-size: 8px; 
        line-height: 12px;   
    }

    iframe{
        width: 100px;
    }

    .foto__Titulo{
        font-size: 9px;
        line-height: 15px;
    }

    .foto__Texto{
        font-size: 8px;  
        line-height: 12px;
    }
    
    #portadaDeFotos{
        width: 110px;
        height: 80px;
    }

    #portadaFotos{
        margin-top: 5px;
    }
    
    #spiderManIndex{
        margin-top: 15px;
    }

    #spiderManPortada{
        width: 150px;
        height: 150px;
    }
    
    #slogan{
        font-size: 10px;
        justify-self: left;
        translate: -30px ;
    }

    footer{
        height: 12vh;
    }
}
