footer{
    height: 10vh;
    background-color: $color-background;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "textFooter";
    align-items: center;
    
    .textoFooter{
        font-weight: bold;
        color: white;
        font-family: $font-general;
        font-size: 30px;
        text-align: center;
        grid-area: textFooter;
        
    }
}

/* Media Queries */

@media screen and (min-width: 1280px){
    footer{
        height: 8vh;

        .textoFooter{
            font-size: 25px; 
        }
    }
}

@media screen and (max-width: 1279px){
    footer{
       height: 7vh;
       
       .textoFooter{
           font-size: 18px;  
       }
   }
}

@media screen and (max-width: 768px){
   footer{
       height: 6vh;

       .textoFooter{
           font-size: 14px;
       }
   }
}

@media screen and (max-width: 480px){
   footer{
       height: 6vh;

       .textoFooter{
           font-size: 14px;
       }
   }
}




