/* Se aplica Grids+Flexbox */

header{
    height: 25vh;
    grid-area: headeri;
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.3fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "logosRedes imgFunko fuenteBoton"
    "logosRedes imgFunko fuenteBoton"
    "logosRedes imgFunko fuenteBoton";

    #logosRedes{
        grid-area: logosRedes;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ig fb tw";
        grid-row-gap: 5px;
        padding-top: 10px;
        padding-left: 5px;
            
            #logoInstagram{
                height: 30px;
                width: 30px;
                grid-area: ig;
                align-self: start;
            }

            #logoFacebook{
                height: 30px;
                width: 40px;
                grid-area: fb;
                align-self: start;
            }    

            #logoTwitter{ 
                height: 35px;
                width: 35px;
                grid-area: tw;
                padding-left: 6px;
                align-self: start; 
            }

    }
    
    .imgFunko{
    grid-area: imgFunko;
    justify-self: center;
    align-self: center;

        #logoFunko2{
            width: 190px;
            height: 70px;
            opacity: .8;
        }
    }

    .fuenteBoton{
    grid-area: fuenteBoton;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "botonLogin"
    "botonRegistro";
    grid-row-gap: 10px;

        #botonLogin{
            grid-area: botonLogin;
            width: 100px;
            height:30px;
            border-radius: 10px;
            border: $color-background solid 3px;
            font-family: $font-general;
            font-weight: bold;
        }

        #botonRegistro{
            grid-area: botonRegistro;
            width: 100px;
            height: 30px;
            border-radius: 10px;
            border: $color-background solid 3px;
            font-family: $font-general;
            font-weight: bold;
        }

        a{
            &:link, &:visited, &:active{
                text-decoration: none;
                list-style-type: none;
                color: $color-font-general;
                font-weight: bold;
                font-style: normal;
                font-family: $font-general; 
            }
        }
    }
}

@import "./queries";


