/* Se aplica Grids+Flexbox */
header{
    height: 30vh;
    grid-area: headeri;
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.3fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "logosRedes imgFunko fuenteBoton"
    "logosRedes imgFunko fuenteBoton"
    "logosRedes imgFunko fuenteBoton";

    #logosRedes{
        grid-area: logosRedes;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ig fb tw";
        grid-column-gap: 0.5px;
        padding-top: 10px;
        padding-left: 10px;
        
        #logoInstagram{
            height: 30px;
            width: 30px;
            grid-area: ig;
            align-self: start;
        }

        #logoFacebook{
            height: 30px;
            width: 30px;
            grid-area: fb;
            align-self: start;
        }    

        #logoTwitter{ 
            height: 30px;
            width: 30px;
            grid-area: tw;
            align-self: start; 
        }
    }
    
    .imgFunko{
        grid-area: imgFunko;
        justify-self: center;
        align-self: center;

        a{
            @include linksColecciones;

            h1{
                font-family: "milks";
                color: $color-background;
                font-size: 5em;
                font-weight: lighter;
            }
        }
    }

    .fuenteBoton{
    grid-area: fuenteBoton;
    justify-self: center;
    align-self: start;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "botonLogin"
    "botonRegistro";
    grid-row-gap: 10px;

    #botonLogin{
        grid-area: botonLogin;
        width: 100px;
        height:30px;
        border-radius: 10px;
        background-color: white;
        border: $color-background solid 3px;
        font-family: $font-general;
        font-weight: bold;
            &:hover{
                background-color: $color-background;
                color: white;
                    a{
                        color: white;
                    }
            }
        }

        #botonRegistro{
            grid-area: botonRegistro;
            width: 100px;
            height: 30px;
            border-radius: 10px;
            background-color: white;
            border: $color-background solid 3px;
            font-family: $font-general;
            font-weight: bold;

            &:hover{
                background-color: $color-background;
                color: white;
                    a{
                        color: white;
                    }
            }
        }

        a{
            &:link, &:visited, &:active{
                @include linksColecciones;
            }
        }
    }
}

/* Media Queries */

@media screen and (min-width: 1280px){
    header{
        height: 17vh;
        grid-template-columns: 0.3fr 2fr 0.5fr;

        #logosRedes{
            #logoInstagram{
                height: 40px;
                width: 40px;
            }

            #logoFacebook{
                height: 40px;
                width: 40px;
            }

            #logoTwitter{
                height: 40px;
                width: 40px;
            }
        }
        
        .imgFunko{
            a{
                h1{
                    font-size: 6em;
                }
            }
        }

        .fuenteBoton{
            justify-self: right;

            #botonLogin{
                width: 140px;
                height: 40px;
                font-size: 16px;
            }

            #botonRegistro{
                width: 140px;
                height: 40px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1279px){
    header{
        height: 16vh;
        grid-template-columns: 0.4fr 2fr 0.5fr;

        #logosRedes{
            grid-column-gap: 0.5px;

            #logoInstagram{
                height: 35px;
                width: 35px;
            }

            #logoFacebook{
                height: 35px;
                width: 35px;
            }

            #logoTwitter{
                height: 35px;
                width: 35px;
            }
        }

        .imgFunko{
            a{
                h1{
                    font-size: 4em;
                }
            }
        }
      
        .fuenteBoton{
            justify-self: right;
            
            #botonLogin, #botonRegistro{
                width: 85px;
                height: 25px;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    header{
        height: 12vh;
        grid-template-columns: 2fr 0.1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imgFunko fuenteBoton"
        "imgFunko fuenteBoton";

        #logosRedes{
            display: none;
        }

        .imgFunko{
            a{
                h1{
                    font-size: 3em;  
                }
            }
        }

        .fuenteBoton{
            margin-right: 0px;
            grid-row-gap: 3px;

            #botonLogin, #botonRegistro{
                font-size: 9px;
                width: 70px;
                height:20px;
                border-radius: 8px;
                border: $color-background solid 2px;
                margin-right: 0px;
            }
        }
    }
}

@media screen and (max-width: 480px){
    header{
        height: 11vh;
        grid-template-columns: 2fr 0.1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imgFunko fuenteBoton"
        "imgFunko fuenteBoton";

        #logosRedes{
            display: none;
        }

        .imgFunko{
            a{
                h1{
                    font-size: 2em;  
                }
            }
        }

        .fuenteBoton{
            margin-right: 0px;
            grid-row-gap: 3px;

            #botonLogin, #botonRegistro{
                font-size: 7px;
                width: 70px;
                height:20px;
                border-radius: 8px;
                border: $color-background solid 2px;
                margin-right: 0px;
            }
        }
    }
}

