/* INDEX*/

#mainIndex{ 
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr repeat(2, 1fr);
    grid-template-areas:
        "fotoPortada"
        "multimedia"
        "picSpider";

    #fotoPortada{
    grid-area: fotoPortada;
    align-self: center;

        #fotoMuchosPops{
            width: 100%;  
        }
    }

    #multimedia{
        grid-area: multimedia;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 1fr;
        grid-template-areas:
            "videos fotos";
        grid-column-gap: 30px;
        justify-content: center;

        #videos{
            height: 400px;
            background-color: #73def1;
            border-radius: 10px;
            grid-area: videos;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1.5fr;
            grid-template-areas: 
            "videoPrincipal"
            "iframeV"; 
            align-items: center;
            &:hover{
                background-color: #48bbcf;
                border-radius: 10px;
            }

            .videoPrincipal{
                color: $color-font-general;
                font-family: $font-general;
                font-weight: bolder;
                grid-area: videoPrincipal;

                .video__Titulo{
                    font-size: 18px;
                    text-align: center;
                    line-height: 40px;
                }

                .video__Texto{
                    font-size: 16px;
                    font-weight:500;
                    line-height: 20px;
                    font-family: "engle";
                    margin-left: 20px;
                    margin-right: 20px;  
                }
            }

            #iframeV{
            grid-area: iframeV;
            justify-self: center;

                iframe{
                    width: 399px;
                    height: 249px;
                    border-radius: 10px;
                }
            }
        }

        #fotos{
            height: 400px;
            background-color: #fc6863;
            border-radius: 10px;
            grid-area: fotos;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1.5fr;
            grid-template-areas: 
            "fotoPrincipal"
            "portadaFotos"; 
            align-items: center;
            &:hover{
                background-color: #f74640;
                border-radius: 10px;
            }

            .fotoPrincipal{
                color: $color-font-general;
                font-family: $font-general;
                font-weight: bolder;
                text-align: center;
                grid-area: fotoPrincipal;
                
                a{
                    &:link, &:visited, &:active{
                        text-decoration: none;
                        color: $color-font-general;    
                    }
                }

                .foto__Titulo{
                    font-size: 18px;
                    text-align: center;
                    line-height: 40px; 
                }
                    
                .foto__Texto{
                    font-size: 16px;
                    font-weight:500;
                    line-height: 20px;
                    text-align: center;
                    font-family: "engle";
                }
            }

            #portadaFotos{
                grid-area: portadaFotos;
                justify-self: center;

                #portadaDeFotos{
                    width: 375px;
                    height: 250px;
                    border-radius: 10px;
                }
            }
        }
    }

    #picSpider{
        grid-area: picSpider;
        background-image: url(../assets/imagenes/wallStars.webp);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "spiderManIndex slogan";
        
        .pic{
            grid-area: spiderManIndex;
            justify-self: right;
                    
            #spiderManPortada{
                width: 400px;
                height: 400px;
            }
        }

        #slogan{
            color: $color-font-general;
            font-family: "milks";
            font-size: 35px;
            text-align: right;
            grid-area: slogan;
            translate: -100px;
            align-self: center;  
        }
    }
}


/* HISTORIA */

#mainHistoria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5r 0.5fr 1fr 1fr;
    grid-template-areas: 
        "parrafoUno"
        "parrafoDos"
        "parrafoTres"
        "parrafoCuatro";
        grid-row-gap: 50px;

    #parrafoUno{
        grid-area: parrafoUno;
        .parrafo{
            @include paragraph;
            line-height: 26px;

            .parrafo__Titulo{
                margin-top: 5px;
                line-height: 50px;
                text-align: center;
            }
        }
    }

    #parrafoDos{
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "fotoSectParrafoDos sectParrafoDos";
        grid-area: parrafoDos;

        .fotoParrafoDos{
            #fotoTiendaFunko{
                width: 500px;
                height: 370px;
                margin-left: 40px;
                grid-area: fotoSectParrafoDos;
            }
        }

        .fotoParaMobil{
            display: none;
        }

        .parrafo{
            @include paragraph;
            grid-area: sectParrafoDos;
            align-self: center;
        }
    }

    #parrafoTres{
        display: grid;
        grid-template-columns: 2fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "sectParrafoTres fotoSectParrafoTres";
        grid-area: parrafoTres;

        .parrafo{
            @include paragraph;
            grid-area: sectParrafoTres;
            align-self: center;
        }

        .fotoParrafoTres{
            #fotoTiendaFunkoDos{
                width: 500px;
                height: 370px;
                margin-right: 50px;
                grid-area: fotoSectParrafoTres;  
            }
        }
    }

    #parrafoCuatro{
        grid-area: parrafoCuatro;
        
        .fotoParrafoCuatro{
            #fotoHileraPops{
                width: 98%;
                margin-left: 5px;
            }  
        }
    }
}


/* COMUNIDAD */

#mainComunidad{
    grid-area: main;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "tituloComunidad tituloComunidad tituloComunidad"
        "foro telegram discord";

    #tituloComunidad{
        grid-area: tituloComunidad;
        align-self: start;
        margin-top: 5px;
        
        .parrafo{
            @include paragraph;
            
            .parrafo__Titulo{
                line-height: 50px;
                text-align: center;
            }

            .parrafo__Texto{
                font-size: 15px;
            }
        }
    }

        .foro{
            background-color:#fc6863;
            border: #f44741 solid 4px;
            width: 300px;
            height: 450px;
            grid-area: foro;
            justify-self: right;
            align-self: center;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                "foroTitulo"
                "comunidadTexto"
                "comunidad"; 
            animation-name: animTeleg;
            animation-duration: 1s;
            justify-items: center;
    
                @keyframes animTeleg {
                    from{
                        transform: translate(0) scale(0);
                    }to{
                        transform: translate(100) scale(1.2);
                    }
                }
    
            .foro__Titulo{
                @include titulo-comunidad;
                grid-area: foroTitulo;
            }
        
            .comunidad__Texto{
                grid-area: comunidadTexto;
                @include texto-comunidad;
            }
        
            .comunidad{
                font-family: $font-general;
                font-size: 30px;
                font-weight: bold;
                line-height: 55px; 
                color: $color-font-general;  
                grid-area: comunidad;
    
                #logoForo{
                    width: 200px;
                    height: 200px;  
                }
            } 
        }
    
    .telegram{
        background-color:rgb(29, 204, 146);
        border: rgb(10, 160, 110) solid 4px;
        width: 300px;
        height: 450px;
        grid-area: telegram;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "foroTitulo"
            "comunidadTexto"
            "comunidad"; 
        animation-name: animTeleg;
        animation-duration: 1s;
        justify-items: center;

            @keyframes animTeleg {
                from{
                    transform: translate(0) scale(0);
                }to{
                    transform: translate(100) scale(1.2);
                }
            }

        .foro__Titulo{
            @include titulo-comunidad;
            grid-area: foroTitulo;
        }
    
        .comunidad__Texto{
            grid-area: comunidadTexto;
            @include texto-comunidad;
        }
    

        .comunidad{
            font-family: $font-general;
            font-size: 30px;
            font-weight: bold;
            line-height: 55px; 
            color: $color-font-general;  
            grid-area: comunidad;

            #logoTelegram{
                width: 200px;
                height: 200px;  
            }
        } 
    }

    .discord{
        background-color:#dcdc72;
        border: #c9c949 solid 4px;
        width: 300px;
        height: 450px;
        grid-area: discord;
        justify-self: left;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "foroTitulo"
            "comunidadTexto"
            "comunidad"; 
        animation-name: animTeleg;
        animation-duration: 1s;
        justify-items: center;

            @keyframes animTeleg {
                from{
                    transform: translate(0) scale(0);
                }to{
                    transform: translate(100) scale(1.2);
                }
            }

        .foro__Titulo{
            @include titulo-comunidad;
            grid-area: foroTitulo;
        }
    
        .comunidad__Texto{
            grid-area: comunidadTexto;
            @include texto-comunidad;
        }
    

        .comunidad{
            font-family: $font-general;
            font-size: 30px;
            font-weight: bold;
            line-height: 55px; 
            color: $color-font-general;  
            grid-area: comunidad;

            #logoDiscord{
                width: 200px;
                height: 200px;  
            }
        } 
    }
}   


/* COLECCIONES */

#mainColecciones{
    height: 250vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "parrafoUno"
    "marvel"
    "dc"
    "sw"
    "shop";
    grid-row-gap: 30px;

    #parrafoUno{
        grid-area: parrafoUno;

        .parrafo{
            @include paragraph;
            line-height: 26px;

            .parrafo__Titulo{
                margin-top: 5px;
                line-height: 50px;
                text-align: center;
            }
        }
    }

    .marvel{
        grid-area: marvel;
        width:90%;
        height: 325px;
        border: black solid 4px; 
        background-color:#f47fb4;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "categoriaMarvel capi";
        justify-items: center;
        align-items: center;

        a {
            grid-area: categoriaMarvel;
            @include linksColecciones;
            font-size: 35px;
        }

        #wallCapi{
            width: 410px;
            height: 240px;
            border: black solid 2px;
            grid-area: capi; 
        }
    }

    .dc{
        grid-area: dc;
        width:90%;
        height: 325px;
        border: black solid 4px; 
        background-color:#f0f47a;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "categoriaDc flash";
        justify-items: center;
        align-items: center;

        a {
            grid-area: categoriaDc;
           @include linksColecciones;
            font-size: 35px;
        }

        #wallFlash{
            width: 410px;
            height: 240px;        
            border: black solid 2px; 
            grid-area: flash;
        }
    }

    .sw{
        grid-area: sw;
        width:90%;
        height: 325px;
        border: black solid 4px; 
        background-color:#76f386;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "categoriaSw star";
        justify-items: center;
        align-items: center;

        a {
            grid-area: categoriaSw;
            @include linksColecciones;
            font-size: 35px;
        }

        #wallSw{
            width: 410px;
            height: 240px;
            border: black solid 2px; 
            grid-area: star;            
        }
    }

    .shop{
        grid-area: shop;
        font-family: $font-general;
        font-size: 25px;
        font-weight: bold;
        justify-self: right;
        align-self: center;
        margin-right: 30px;

        a{
            text-decoration: none;
            color: $color-font-general;
        }
    }
}


/* CONTACTO */

#mainContacto{
    .parrafo{
        @include paragraph;
        line-height: 26px;
        
        .parrafo__Titulo{
            margin-top: 5px;
            line-height: 50px;
            text-align: center;
        }
        
        .parrafo__Texto{
            font-size: 15px;
        }
    }        

    .formulario{
        margin-right: 30px;
        margin-left: 30px;

        form{
            .datos{
                margin-top: 30px;
    
                legend{
                    font-family: $font-general;
                    font-size: 14px;
                    font-weight: bolder;
    
                    p{
                        margin-right: 20px;
                        margin-left: 5px;
                    } 
                }
                
                .nombre, .apellido, .genero, .edad{
                    font-family: $font-general;
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: 20px;
                    margin-bottom: 8px;
                    margin-left: 10px;
                }
            }
    
            .datosDos{
                margin-top: 20px;
    
                legend{
                    font-family: $font-general;
                    font-size: 14px;
                    font-weight: bolder;
                }
    
                .textoDatos{
                    margin-right: 10px;
                    margin-left: 5px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    font-family: $font-general;
                    font-size: 14px;
                    font-weight:500;
                    
                    p{
                        margin-right: 30px;
                        margin-left: 5px;
                    }
                }
    
                .lineas{
                    margin-bottom: 10px;
                
                    label{
                        margin-right: 20px;
                        margin-left: 20px;
                        font-family: $font-general;
                        font-size: 14px;
                        font-weight: bolder;
    
                        input{
                            margin-right: 5px;
                        }
                    }
                } 
            }
    
            .datosTres{
                margin-top: 20px;
    
                legend{
                    font-family: $font-general;
                    font-size: 14px;
                    font-weight: bolder;
                }
                    
                .textoDatos{
                    margin-right: 10px;
                    margin-left: 10px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    font-family: $font-general;
                    font-size: 14px;
                    font-weight:500;
                }
    
                .licencias{
                    margin-bottom: 10px;
    
                    label{
                        margin-right: 15x;
                        margin-left: 15px;
                        font-family: $font-general;
                        font-size: 14px;
                        font-weight: bolder;
    
                        input{
                            margin-right: 5px;
                        }
                    }  
                }
            }
    
            .datosCuatro{
                margin-top: 20px;
    
                legend{
                    font-family: $font-general;
                    font-size: 14px;
                    font-weight: bolder;
                    margin-bottom: 20px;
                }
    
                .consulta{
                    margin-left: 10px;
                    margin-bottom: 20px;
                    
                    textarea{
                        font-family: $font-general;
                        font-size: 13px;
                        font-style: italic;
                    }
                }  
            }
    
            .datosCinco{
                margin-top: 20px;
    
                p{
                    font-family: $font-general;
                    font-size: 14px;
                    font-weight: bolder;
                    margin-right: 20px;
                    margin-left: 5px;
                    margin-bottom: 10px;
                    grid-area: parrafo;
                }
    
                .opciones{
                    margin-bottom: 10px;
                
                    label{
                        margin-right: 20px;
                        margin-left: 20px;
                        font-family: $font-general;
                        font-size: 14px;
                        font-weight: bolder;
    
                        input{
                            margin-right: 10px;
                        }
                    }
                }
    
                .enviar{
                    margin-bottom: 40px;
                    justify-items: center;
    
                    #botonEnviar{
                        width: 150px;
                        height: 30px;
                        border-radius: 10px;
                        border: $color-background solid 3px;
                        font-size: 15px;
                        font-weight: bold;
                        font-family: $font-general;
                        
                        a{
                            @include linksColecciones;
                        }
                    } 
                } 
            }
        }
    }
}

@import "./queries";


