/* @media screen and (max-width: 2560px){
    header{
        #logosRedes{
            padding-top: 20px;
            padding-left: 20px;
            
            #logoInstagram{
                height: 60px;
                width: 60px;
            }
    
             #logoFacebook{
                height: 60px;
                width: 60px;
            }    
    
            #logoTwitter{ 
                height: 60px;
                width: 60px;
            }
        }
        
        .imgFunko{
            a{   
                h1{
                    font-size: 10em;
                }
            }
        }
    
        .fuenteBoton{
        margin-top: 20px;
        grid-row-gap: 10px;
    
        #botonLogin{
            width: 210px;
            height:60px;
            border-radius: 15px;
            border: $color-background solid 4px;
            font-size: 30px;
            }
    
            #botonRegistro{
                width: 210px;
                height:60px;
                border-radius: 15px;
                border: $color-background solid 4px;
                font-size: 30px;
            }
        }
    }
}
 */



@media (max-width: 1024px){
    header{
        grid-template-columns: 0.4fr 2fr 0.5fr;
    }

    #mainHistoria{
        #parrafoUno{
            .parrafo{
                .parrafo__Titulo{
                    margin-top: 20px;
                }

                .parrafo__Texto{
                    margin-top: 20px;
                }
            }
        }

        #parrafoDos{
            .fotoParrafoDos{
                align-self:center;
            }
        }

        #parrafoTres{
            .fotoParrafoTres{
                align-self: center;
            }
        }
    }

    #mainComunidad{
        height: 115vh; 
        grid-row-gap: 35px;
        
        #parrafoUno{
            .parrafo{
                .parrafo__Titulo{
                    margin-top: 20px;
                }

                .parrafo__Texto{
                    margin-top: 20px;
                }
            }
        }
    }

    #mainColecciones{
        height: 150vh;
        #parrafoUno{
            .parrafo{
                .parrafo__Titulo{
                    margin-top: 20px;
                }

                .parrafo__Texto{
                    margin-top: 20px;
                }
            }
        }
    }

    #mainContacto{
        .parrafo{
            .parrafo__Titulo{
                margin-top: 20px;
            }

            .parrafo__Texto{
                margin-top: 20px;
            }
        }

        .formulario{

            form{
              .datosDos{  
                .lineas{
                    
                    label{
                        margin-right: 0px;
                        margin-left: 12px;
                        font-size: 13px;
                                           
                        
                        input{
                            margin-right: 4px;
                        }
                    }
                } 
            }

            .datosTres{    
                .licencias{
                    label{
                        margin-right: 0px;
                        margin-left: 4px;
                        font-size: 12px;                       
                    }  
                }
            }  
            }
            
        }
    }

    footer{
        #textoFooter{
            .textoNegritaFooter{
                font-size: 18px; 
            }
        }
    }
}

@media screen and (max-width: 768px){
    header{
        grid-template-columns: 0.4fr 2fr 0.5fr;

        #logosRedes{
            grid-column-gap: 1.5px;

            #logoInstagram{
                height: 25px;
                width: 25px;
            }

            #logoFacebook{
                height: 25px;
                width: 25px;
            }

            #logoTwitter{
                height: 25px;
                width: 25px;
            }
        }

        .imgFunko{
            a{
                h1{
                    font-size: 3em;
                }
            }
        }
      
        .fuenteBoton{
            #botonLogin{
                width: 75px;
                height: 25px;
                font-size: 10px;
            }

            #botonRegistro{
                width: 75px;
                height:25px;
                font-size: 10px;
            }
        }
    }

    nav{
        height: 11vh;

        a{
            &:link, &:visited, &:active{
                font-size: 13px; 
            }
        }
    }

    #mainIndex{
        grid-template-rows: 0.6fr 1fr 0.1fr;

        #multimedia{
            grid-template-columns: 46% 46%;
            grid-column-gap: 20px;

            #videos{
                height: 350px;
                grid-template-rows: 0.7fr 1fr;

                .videoPrincipal{
                    .video__Titulo{
                       line-height: 24px;
                       margin-bottom: 20px;
                       margin-left: 15px;
                       margin-right: 15px;
                    }

                    .video__Texto{
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }

                #iframeV{
                    align-self: center;

                    iframe{
                        width: 240px;
                        height: 150px;
                    }
                }
            }

            #fotos{
                height: 350px;
                grid-template-rows: 0.7fr 1fr;

                .fotoPrincipal{
                    .foto__Titulo{
                       line-height: 24px;
                       margin-bottom: 20px;
                    }
                }

                .portadaFotos{
                    align-self: center;

                    #portadaDeFotos{
                        width: 230px;
                        height: 150px;
                    }
                }
            }
        }

        #picSpider{
            .pic{
                #spiderManPortada{
                    width: 275px;
                    height: 275px;
                }
            }

            #slogan{
                font-size: 22px;
                
                justify-self: right;
                translate: -40px ;
                &:hover{
                    transform:scale(1.2);
                }

              
            }
        }
    }

    #mainHistoria{
        #parrafoUno{
            .parrafo{
                font-size: 14px;
                line-height: 25px;
            }
        }

        #parrafoDos{
            .fotoParrafoDos{
                #fotoTiendaFunko{
                    width: 310px;
                    height: 190px;
                }
            }

            .parrafo{
                font-size: 14px;
                line-height: 25px;
            }
        }

        #parrafoTres{
            .parrafo{
                font-size: 14px;
                line-height: 25px;
            }

            .fotoParrafoTres{
                #fotoTiendaFunkoDos{
                    width: 310px;
                    height: 180px;
                }
            }
        }

        #parrafoCuatro{    
            .fotoParrafoCuatro{
                margin-left: 20PX;

                #fotoHileraPops{
                    width: 94%;
                }
            }
        }
    }

    #mainComunidad{
        height: 90vh;

        #tituloComunidad{
            line-height: 20px;

            #parrafoUno{
                .parrafo{
                    font-size: 13px;
                    line-height: 25px;

                    .parrafo__Texto{
                        font-size: 13px;
                        line-height: 25px;
                    }
                }
            }
        }

        .foro{
            grid-template-rows: repeat(2, 0.5fr) 1fr;
            width: 200px;
            height: 350px;
            margin-bottom: 10px;

            .foro__Titulo{
                font-size: 21px;
            }

            .comunidad__Texto{
                font-size: 12px;
                margin-left: 7px;
                margin-right: 7px;
            }

            .comunidad{
                #logoForo{
                    width: 120px;
                    height: 120px;
                }
            }
        }

        .telegram{
            grid-template-rows: repeat(2, 0.5fr) 1fr;
            width: 200px;
            height: 350px;
            margin-bottom: 10px;

            .foro__Titulo{
                font-size: 21px;
            }

            .comunidad__Texto{
                font-size: 12px;
                margin-left: 7px;
                margin-right: 7px;
            }

            .comunidad{
                #logoTelegram{
                    width: 120px;
                    height: 120px;
                }
            }
        }

        .discord{
            grid-template-rows: repeat(2, 0.5fr) 1fr;
            width: 200px;
            height: 350px;
            margin-bottom: 10px;

            .foro__Titulo{
                font-size: 21px;
            }

            .comunidad__Texto{
                font-size: 12px;
                margin-left: 7px;
                margin-right: 7px;
            }

            .comunidad{
                #logoDiscord{
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }

    #mainColecciones{
        height: 140vh;
        grid-template-rows: 0.1fr repeat(3, 0.2fr) 0.1fr;
    
        
       

        #parrafoUno{
            .parrafo{
                font-size: 13px;
                line-height: 25px;
                margin-bottom: 0px;
            }
        }

        .marvel{
            width:80%;
            height: 175px;
            align-self: center;
            

            a{
                font-size: 25px;
            }

            #wallCapi{
                width: 190px;
                height: 110px;
            }
        }

        .dc{
            width:80%;
            height: 175px;
            align-self: start;

            a{
                font-size: 25px;
            }

            #wallFlash{
                width: 190px;
                height: 110px;
            }
        }

        .sw{
            width:80%;
            height: 175px;
            align-self: start;

            a{
                font-size: 25px;
            }

            #wallSw{
                width: 190px;
                height: 110px;
            }
        }

        .shop{
            font-size: 20px;
        }

    }

    #mainContacto{
        
        margin-right: 20px;
        .parrafo{
            font-size: 13px;
            align-self: end;
        }

        .formulario{
            form{
              .datosDos{  
                .lineas{
                    label{
                        margin-right: 0px;
                        margin-left: 10px;
                        font-size: 11px;
                                           
                        
                        input{
                            margin-right: 4px;
                        }
                    }
                } 
            }

            .datosTres{    
                .licencias{
                    label{
                        font-size: 10px;                       
                    }  
                }
            }  
            }
            
        }
    }

    footer{
        #textoFooter{
            .textoNegritaFooter{
                font-size: 12px;
                
                
            }
        }
    };
}

@media screen and (max-width: 600px){
    header{
        height: 20vh;

        #logosRedes{
            grid-column-gap: 5px;
        }

        .imgFunko{
            a{
                h1{
                    font-size: 2.5em;
                }
            }
        }

        .fuenteBoton{
            grid-row-gap: 7px;
        }
    }
    
    nav{
        height: 10vh;

        a{
            &:link, &:visited, &:active{
                font-size: 11px; 
            }
        }

        li{
            padding: 7px;
            margin: 3px;
        }
    }

    #mainIndex{
        height: 125vh;
    }

    #mainHistoria{
        grid-row-gap: 25px;
        grid-template-rows: 0.5r 0.5fr 0.3fr 1fr;

        #parrafoDos{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.1fr 0.5fr;
            grid-template-areas: 
            "fotoSectParrafoDos fotoParaMobil"
            "sectParrafoDos sectParrafoDos";
            justify-items: center;
            grid-row-gap: 25px;
    
            .fotoParrafoDos{
                grid-area: fotoSectParrafoDos;
                #fotoTiendaFunko{
                    width: 230px;
                    height: 160px;
                    margin-left: 10px;
                }
            }
    
            .fotoParaMobil{
                grid-area: fotoParaMobil;
                display: block;
                justify-items: center;
                align-self: center;
            
                img{
                    width: 230px;
                    height: 160px;
                    margin-right: 10px;
                }
            }
    
            .parrafo{
                font-size: 14px;
                line-height: 25px;
            }
        }
    
        #parrafoTres{
            grid-template-columns: 1fr;
            grid-template-rows: 0.2fr;
            grid-template-areas: 
            "sectParrafoTres sectParrafoTres";

            .parrafo{
                @include paragraph;
                grid-area: sectParrafoTres;
                align-self: center;
                font-size: 14px;
                line-height: 25px;
            }

            .fotoParrafoTres{
                display: none;

            }
        }
    }

    #mainComunidad{
        .foro, .telegram, .discord{
            width: 170px;
            align-self: center;
        }
    }
}

@media screen and (max-width: 480px) {
    header{
        height: 18vh;
        grid-template-columns: 2fr 0.1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imgFunko fuenteBoton"
        "imgFunko fuenteBoton";

        #logosRedes{
            display: none;
        }

        .imgFunko{
            margin-left: 15px;
        }

        .fuenteBoton{
            margin-right: 0px;

            #botonLogin, #botonRegistro{
                font-size: 7px;
                width: 70px;
                height:20px;
                border-radius: 8px;
                margin-right: 0px;
            }
        }
    }

    nav{
        height: 35vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "listaMenu";     
        background-color: white;
        justify-items: stretch;

        a{
            &:link, &:visited, &:active{
                font-size: 10px;
                text-align: center;
            }
        }

        li{
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 8px; 
            background-color: $color-background;
           
            
        }

        #buscador{
            display: none;
        }
    }

    #mainIndex{
        height: 135vh;

        #multimedia{
            grid-column-gap: 10px;

            #videos{
                height: 65vh;

                .videoPrincipal{
                    .video__Titulo{
                        font-size: 14px;
                        line-height: 15px;
                    }

                    .video__Texto{
                        font-size: 13px;
                        font-weight:500;
                        line-height: 15px;
                    }
                }

                #iframeV{
                    iframe{
                        width: 159px;
                        height: 109px;
                    }
                }
            }

            #fotos{
                height: 65vh;

                .fotoPrincipal{
                    .foto__Titulo{
                        font-size: 14px;
                        line-height: 15px;
                    }

                    .foto__Texto{
                        font-size: 13px;
                        font-weight:500;
                        line-height: 15px;
                    }
                }

                .portadaFotos{
                    #portadaDeFotos{
                        width: 159px;
                        height: 109px;
                    }
                }
            }
        }

        #picSpider{
            .pic{
                #spiderManPortada{
                    width: 190px;
                    height: 190px;
                }
            }

            #slogan{
                justify-self: left;
                translate: -40px;
                text-align: center;
                font-size: 18px;
            }
        }
    }

    #mainHistoria{
        grid-row-gap: 15px;

        #parrafoUno{
            .parrafo{
                .parrafo__Titulo{
                    font-size: 18px;
                    text-align: center;
                    
                }
                .parrafo__Texto{
                    font-size: 12px;
                    line-height: 20px;
                    text-align: justify;
                }
            }
        }
    
        #parrafoDos{
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "fotoSectParrafoDos fotoParaMobil"
            "sectParrafoDos sectParrafoDos";
            justify-items: center;
            grid-row-gap: 5px;
            grid-column-gap: 15px;
    
            .fotoParrafoDos{
                grid-area: fotoSectParrafoDos;
                #fotoTiendaFunko{
                    width: 190px;
                    height: 120px;
                    margin-left: 10px;
                }
            }
    
            .fotoParaMobil{
                grid-area: fotoParaMobil;
                display: block;
                justify-items: center;
            
                img{
                    width: 190px;
                    height: 120px;
                    margin-right: 10px;
                }
            }
    
            .parrafo{
                font-size: 12px;
                line-height: 20px;
                text-align: justify;
            }
        }
    
        #parrafoTres{
            display: block;
            .parrafo{
                
                .parrafo__Texto{
                    font-size: 12px;
                    line-height: 20px;
                    margin-right: 0px;
                    margin-left: 0px;
                    justify-self: center;
                    text-align: justify;
                }
            }
            
            .fotoParrafoTres{              
                #fotoTiendaFunkoDos{
                    display: none;
                }
            }
        }
    
        #parrafoCuatro{
            display: none;
    
        }
    }

    #mainComunidad{
        height: 120vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 0.1fr);
        grid-template-areas:
        "tituloComunidad"
        "foro" 
        "telegram"
        "discord";
        grid-row-gap: 15px;

        #tituloComunidad{
            #parrafoUno{
                .parrafo{
                    .parrafo__Titulo{
                        font-size: 18px;
                        text-align: center;
                    }

                    .parrafo__Texto{
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
        
        .foro{
            border: #f44741 solid 3px;
            width: 400px;
            height: 100px;
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "comunidad foroTitulo"; 

            align-items: center;
            align-content: center;
            
            .foro__Titulo{
                font-size: 18px;
                justify-self: left;
            } 
    
            .comunidad__Texto{
                display: none;  
            }
    
            .comunidad{
                font-size: 18px;
                align-content: center;
    
                #logoForo{
                    width: 70px;
                    height: 70px;   
                    margin-top: 20px;
                }
            } 
        }
        
        .telegram{
            border: rgb(10, 160, 110) solid 3px;
            width: 400px;
            height: 100px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "comunidad foroTitulo"; 
            align-content: center;
    
            .foro__Titulo{
                font-size: 18px;
                justify-self: left;
            } 
    
            .comunidad__Texto{
                display: none;  
            }
    
            .comunidad{
                font-size: 18px;
            
                #logoTelegram{
                    width: 70px;
                    height: 70px;  
                    margin-top: 20px;
                }
            } 
        }
    
        .discord{
            border: #c9c949 solid 3px;
            width: 400px;
            height: 100px;
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "comunidad foroTitulo"; 
            align-content: center;
    
            .foro__Titulo{
                font-size: 18px;
                justify-self: left;
            } 
    
            .comunidad__Texto{
                display: none;  
            }
        
            .comunidad{
                font-size: 18px;
    
                #logoDiscord{
                    width: 70px;
                    height: 70px;  
                    margin-top: 20px;
                }
            } 
        }

        
       
    
        

    }

    #mainColecciones{
        height: 90vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.5fr 0.5fr;
        grid-template-areas: 
        "parrafoUno parrafoUno"
        "marvel dc"
        "shop shop";
        grid-row-gap: 10px;

        #parrafoUno{    
            .parrafo{
                .parrafo__Titulo{
                    font-size: 18px;
                    margin-top: 5px;
                    line-height: 50px;
                    text-align: center;
                }

                .parrafo__Texto{
                    display: none;
                }
            }
        }

        .marvel{
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
            grid-template-areas: 
            "categoriaMarvel"
            "capi";
    
            a {
                font-size: 18px;
                align-self: end;
            }
    
            #wallCapi{
                width: 180px;
                height: 100px;
            }
        }

        .dc{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
            grid-template-areas: 
            "categoriaDc"
            "flash";
           
            a {
                font-size: 18px;
                align-self: end;
            }
    
            #wallFlash{
                width: 180px;
                height: 100px;      
            }
        }
    
        .sw{
            display: none;
        }

        .shop{
            font-size: 16px;
            align-self: end;
        }

        $borderFranquicias:(
        marvel: #f04f97,
        dc: #eef356,
        
    );

    @each $franquicia, $color in $borderFranquicias{
        .franquicia-#{$franquicia} {
            border: $color solid 4px;
            width: 200px;
            height: 300px;            
        }
    }

    }

    footer{
        height: 10vh;

            .textoNegritaFooter{
                font-size: 10px;
            }
    };
}


/* @media (max-width: 320px){
    
    header{
        grid-template-columns: 2fr 1fr ;
        background-color: green;

        .imgFunko{
            margin-left: 0px;
            justify-self: right;
           
           
            #logoFunko2{
                width: 88px;
                height: 33px;
                translate: none;       
                margin-right: 30px;      
            } 
        }

        .fuenteBoton{
            justify-self: right;

            #botonLogin{
                width: 60px;
                height: 18px;
                border-radius: 7px;
                border: $color-background solid 2px;
                font-size: 8px;
            }

            #botonRegistro{
                width: 60px;
                height: 18px;
                border-radius: 7px;
                border: $color-background solid 2px;
                font-size: 8px;

            }
        }
    }

    #mainIndex{
        height: 155vh;

        #fotoPortada{
            margin-top: 7px;
            margin-bottom: 7px;
        }

        #multimedia{
            #videos{
                .videoPrincipal{
                   .video__Titulo{
                        font-size: 11px;
                        margin-left: 5px;
                        margin-right: 2px;
                        line-height: 15px;
                    } 
                }

                #iframeV{
                    iframe{
                        width: 130px;
                        height: 100px;
                    }
                }
            }

            #fotos{
                .fotoPrincipal{
                    .foto__Titulo{
                        font-size: 11px;
                        margin-left: 5px;
                        margin-right: 10px;
                        line-height: 5px;
                    }
                }

                #portadaFotos{
                    #portadaDeFotos{
                        width: 130px;
                        height: 100px;
                    }
                }

            }
        }

        #picSpider{
            #spiderManIndex{
                #spiderManPortada{
                    width: 180px;
                    height: 180px;

                    &:hover{
                        transform: translate(-30px);
                    }
                }
            }

            #slogan{
                justify-self: left;
                translate: -20px;

                .slogan__Texto{
                    font-size: 10px;
                    text-align: center;

                    &:hover{
                        transform:scale(1.1);
                    }

                }
            }
        }

    }

    #mainHistoria{
        #parrafoDos{    
            .fotoParrafoDos{
                #fotoTiendaFunko{
                    width: 210px;
                    height: 140px;
                }
            }
    
            .fotoParaMobil{
                img{
                    width: 210px;
                    height: 140px;
                }
            }
        }
    }

    #mainColecciones{
        height: 100vh;       
        
        .marvel{
            width: 140px;
            height: 300px;
            border: black solid 2px;
            margin-left: 10px;
            
            #wallCapi{
                width: 100px;
                height: 60px;
            }
        }

        .dc{
            width: 140px;
            height: 300px;
            border: black solid 2px;
            margin-right: 10px;
            

            #wallFlash{
                width: 100px;
                height: 60px;
            }
        }
    }
} */

/* @media screen and (orientation: landscape){
    header{
        height: 45vh;
        
    }
}
 */
/* @media screen and (orientation: landscape) and (max-width: 480px){
    header{
        height: 35vh;
        background-color: orange;
    }
} */

/* @media screen and (orientation: landscape) and (max-width: 320px){
    header{
        height: 100vh;
        background-color: purple;
    }
} */