@media screen and (min-width: 1280px){
    header{
        height: 17vh;
        grid-template-columns: 0.3fr 2fr 0.5fr;

        #logosRedes{
            #logoInstagram{
                height: 40px;
                width: 40px;
            }

            #logoFacebook{
                height: 40px;
                width: 40px;
            }

            #logoTwitter{
                height: 40px;
                width: 40px;
            }
        }
        
        .imgFunko{
            a{
                h1{
                    font-size: 6em;
                }
            }
        }

        .fuenteBoton{
            justify-self: right;

            #botonLogin{
                width: 140px;
                height: 40px;
                font-size: 16px;
            }

            #botonRegistro{
                width: 140px;
                height: 40px;
                font-size: 16px;
            }
        }
    }

    nav{
        height: 9vh;
        grid-template-columns: 2.5fr 1fr;
        
        li{
            font-size: 26px;
            justify-self: center;
        }

        #buscador{
            #busqueda{
                height: 30px;
                width: 160px;
            }

                #botonBuscar{
                    font-size: 22px;
                }
            }
    }

    #mainIndex{
        #multimedia{
            #videos{
                height: 600px;
                grid-template-rows: 1fr 1fr;

                .videoPrincipal{
                    .video__Titulo{
                        font-size: 30px;
                        line-height: 35px;
                        margin-bottom: 20px;
                    
                    }

                    .video__Texto{
                        font-size: 24px;
                        line-height: 30px;
                    }
                }

                #iframeV{
                    align-self: start;
                    iframe{
                        width: 379px;
                        height: 250px;
                    }
                }
            }

            #fotos{
                height: 600px;
                grid-template-rows: 1fr 1fr;

                .fotoPrincipal{
                    .foto__Titulo{
                        font-size: 30px;
                        line-height: 35px;
                        margin-bottom: 20px;
                    }

                    .foto__Texto{
                        font-size: 24px;
                        line-height: 30px;
                    }
                }

                .portadaFotos{
                    align-self: start;

                    #portadaDeFotos{
                        width: 350px;
                        height: 250px;
                    }
                }
            }
        }

        #picSpider{
            .pic{
                #spiderManPortada{
                    width: 575px;
                    height: 575px;
                }
            }

            #slogan{
                text-align: center;
                font-size: 50px;
                text-align: center;
                justify-self: right;
                translate: -40px ;
                &:hover{
                    transform:scale(1.2);
                }
            }
        }
    }

    #mainHistoria{
        #parrafoUno{
            .parrafo{
                font-size: 20px;
                line-height: 25px;

                .parrafo__Titulo{
                    margin-top: 20px;
                }

                .parrafo__Texto{
                    font-size: 18px;
                    margin-top: 20px;
                    line-height: 35px;
                    text-align: justify;
                   
                }
            }
        }

        #parrafoDos{
            .fotoParrafoDos{
                align-self:center;
                
                #fotoTiendaFunko{
                    width: 600px;
                    height: 380px;
                }
            }

            .parrafo{
                font-size: 18px;
                margin-top: 20px;
                line-height: 35px;
                text-align: justify;
            }
        }

        #parrafoTres{
            .parrafo{
                font-size: 18px;
                margin-top: 20px;
                line-height: 35px;
                text-align: justify;
            }

            .fotoParrafoTres{
                align-self: center;

                #fotoTiendaFunkoDos{
                    width: 600px;
                    height: 380px;
            
                }
            }
        }
    }

    #mainComunidad{
        height: 70vh; 
        grid-template-rows: 20% 80%;
        grid-row-gap: 35px;
        
        #tituloComunidad{
            .parrafo{
                .parrafo__Titulo{
                    font-size: 30px;
                    margin-top: 20px;
                }

                .parrafo__Texto{
                    font-size: 21px;
                    line-height: 35px;
                    margin-top: 20px;
                }
            }
        }

        .foro{
            grid-template-rows: 0.5fr 0.5fr 1fr;
        
            .foro__Titulo{
                font-size: 30px;
            }
            
            .comunidad__Texto{
                font-size: 20px;
                align-self: center;
            }

            .comunidad{
                align-self: center;

                #logoForo{
                    width: 180px;
                    height: 180px;
                }
            }
        }

        .telegram{
            grid-template-rows: 0.5fr 0.5fr 1fr;

            .foro__Titulo{
                font-size: 30px;
            }
            
            .comunidad__Texto{
                font-size: 20px;
                align-self: center;
            }

            .comunidad{
                align-self: center;

                #logoTelegram{
                    width: 180px;
                    height: 180px;
                }
            }
        }

        .discord{
            grid-template-rows: 0.5fr 0.5fr 1fr;

            .foro__Titulo{
                font-size: 30px;
            }
            
            .comunidad__Texto{
                font-size: 20px;
                align-self: center;
                margin-left: 20px;
                margin-right: 20px;
            }

            .comunidad{
                align-self: center;

                #logoDiscord{
                    width: 180px;
                    height: 180px;
                }

            }
        }

        $comunidades:(
        foro: #fc6863,
        telegram: rgb(29, 204, 146),
        discord: #dcdc72
        );
        
        @each $comunidad, $color in $comunidades{
            .comunidad-#{$comunidad} {
                background-color: $color;
                width: 350px;
                height: 550px;
            }
        }
    }

    #mainColecciones{
        height: 100vh;

        #parrafoUno{
            .parrafo{
                .parrafo__Titulo{
                    font-size: 30px;
                    margin-top: 20px;
                }

                .parrafo__Texto{
                    font-size: 21px;
                    line-height: 35px;
                    margin-top: 20px;
                }
            }
        }

        .marvel, .dc, .sw{
            a{
                font-size: 30px;
            }

            #wallCapi, #wallFlash, #wallSw{
                width: 330px;
                height: 180px;
            }
        }

        .shop{
            font-size: 35px;
        }

        $franquicias:(
            marvel: #f47fb4,
            dc: #f0f47a,
            sw: #76f386
        );

        @each $franquicia, $color in $franquicias{
            .franquicia-#{$franquicia} {
                background-color: $color;
                height: 250px;
            }
        }
    }

    #mainContacto{
        .parrafo{
            margin-top: 0px;

            .parrafo__Titulo{
                font-size: 30px;
                margin-top: 20px;
            }

            .parrafo__Texto{
                font-size: 21px;
                line-height: 35px;
                margin-top: 20px;
            }
        }

        .formulario{
            form{
                .datos{
                    legend{
                        font-size: 22px;
                    }

                    .nombre, .apellido, .genero, .edad{
                        font-size: 18px;
                    }
                }

                .datosDos{  
                    legend{
                        font-size: 22px;
                    }

                    .textoDatos{
                        font-size: 20px;
                    }

                    .lineas{
                        label{
                            margin-right: 0px;
                            margin-left: 12px;
                            font-size: 18px;
                        }
                    } 
                }

                .datosTres{    
                    legend{
                        font-size: 22px;
                    }

                    .textoDatos{
                        font-size: 20px;
                    }

                    .licencias{
                        label{
                            margin-right: 0px;
                            margin-left: 4px;
                            font-size: 18px;                       
                        }  
                    }
                } 
                
                .datosCuatro{
                    legend{
                        font-size: 22px;
                    }

                    .consulta{
                        textarea{
                            font-size: 18px;
                        }
                    }
                }

                .datosCinco{
                    p{
                        font-size: 22px;
                    }

                    .opciones{
                        label{
                            font-size: 18px;
                        }
                    }
                }

                .enviar{
                    #botonEnviar{
                        width: 150px;
                        height: 300px;
                        border-radius: 10px;
                        border: $color-background solid 3px;
                        font-size: 50px;
                       
                    }

                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    footer{
        height: 8vh;

        .textoFooter{
            font-size: 25px; 
            
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px){
    header{
        height: 11vh;
        grid-template-columns: 0.4fr 2fr 0.5fr;

        #logosRedes{
            grid-column-gap: 1.5px;

            #logoInstagram{
                height: 25px;
                width: 25px;
            }

            #logoFacebook{
                height: 25px;
                width: 25px;
            }

            #logoTwitter{
                height: 25px;
                width: 25px;
            }
        }

        .imgFunko{
            a{
                h1{
                    font-size: 4em;
                }
            }
        }
      
        .fuenteBoton{
            justify-self: right;
            
            #botonLogin, #botonRegistro{
                width: 85px;
                height: 25px;
                font-size: 12px;
            }
        }
    }

    nav{
        height: 8vh;
        grid-template-columns: 2fr 1fr;

        

        li{
            font-size: 15px;
            padding: 3px;
        }
    }

    #mainIndex{
        grid-template-rows: 0.1fr 1fr 0.1fr;

        #multimedia{
            grid-template-columns: 46% 46%;
            grid-column-gap: 20px;

            #videos{
                height: 350px;
                grid-template-rows: 0.7fr 1fr;

                .videoPrincipal{
                    .video__Titulo{
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 20px;
                        margin-left: 15px;
                        margin-right: 15px;
                    }

                    .video__Texto{
                        font-size: 14px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }

                #iframeV{
                    align-self: center;

                    iframe{
                        width: 240px;
                        height: 150px;
                    }
                }
            }

            #fotos{
                height: 350px;
                grid-template-rows: 0.7fr 1fr;

                .fotoPrincipal{
                    .foto__Titulo{
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 20px;
                    }

                    .foto__Texto{
                        font-size: 14px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }

                .portadaFotos{
                    align-self: center;

                    #portadaDeFotos{
                        width: 230px;
                        height: 150px;
                    }
                }
            }
        }

        #picSpider{
            .pic{
                #spiderManPortada{
                    width: 275px;
                    height: 275px;
                }
            }

            #slogan{
                font-size: 30px;
                text-align: center;
                translate: -30px ;
              
            }
        }
    }

    #mainHistoria{
        grid-row-gap: 10px;

        #parrafoUno{
            .parrafo{
                .parrafo__Titulo{
                    font-size: 25px;
                }

                .parrafo__Texto{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

        #parrafoDos{
            .fotoParrafoDos{
                align-self: center;

                #fotoTiendaFunko{
                    width: 310px;
                    height: 190px;
                }
            }

            .parrafo{
                font-size: 14px;
                line-height: 20px;
            }
        }

        #parrafoTres{
            .parrafo{
                font-size: 14px;
                line-height: 20px;
            }

            .fotoParrafoTres{
                align-self: center;

                #fotoTiendaFunkoDos{
                    width: 310px;
                    height: 180px;
                    
                }
            }
        }

        #parrafoCuatro{    
            .fotoParrafoCuatro{
                margin-left: 20PX;

                #fotoHileraPops{
                    width: 94%;
                }
            }
        }
    }

    #mainComunidad{
        height: 70vh;
        grid-template-rows: 0.1fr 1fr;

        #tituloComunidad{
            .parrafo{
                .parrafo__Titulo{
                    font-size: 25px;
                    margin-top: 5px;
                }

                .parrafo__Texto{
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 5px;
                }
            }
        }

        .foro{
            grid-template-rows: repeat(2, 0.5fr) 1fr;
            width: 200px;
            height: 350px;
            margin-bottom: 10px;
            align-self: center;
        

            .foro__Titulo{
                font-size: 21px;
            }

            .comunidad__Texto{
                font-size: 12px;
                margin-left: 7px;
                margin-right: 7px;
            }

            .comunidad{
                #logoForo{
                    width: 120px;
                    height: 120px;
                }
            }
        }

        .telegram{
            grid-template-rows: repeat(2, 0.5fr) 1fr;
            width: 200px;
            height: 350px;
            margin-bottom: 10px;
            align-self: center;

            .foro__Titulo{
                font-size: 21px;
            }

            .comunidad__Texto{
                font-size: 12px;
                margin-left: 7px;
                margin-right: 7px;
            }

            .comunidad{
                #logoTelegram{
                    width: 120px;
                    height: 120px;
                }
            }
        }

        .discord{
            grid-template-rows: repeat(2, 0.5fr) 1fr;
            width: 200px;
            height: 350px;
            margin-bottom: 10px;
            align-self: center;

            .foro__Titulo{
                font-size: 21px;
            }

            .comunidad__Texto{
                font-size: 12px;
                margin-left: 7px;
                margin-right: 7px;
            }

            .comunidad{
                #logoDiscord{
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }

    #mainColecciones{
        height: 100vh;
        grid-template-rows: 0.1fr repeat(3, 0.2fr) 0.1fr;

        #parrafoUno{
            .parrafo{
                font-size: 14px;
                line-height: 25px;
                margin-bottom: 0px;

                .parrafo__Titulo{
                    font-size: 25px;
                }
            }
        }

        .marvel{
            width:80%;
            height: 175px;
            align-self: center;
            

            a{
                font-size: 22px;
            }

            #wallCapi{
                width: 190px;
                height: 110px;
            }
        }

        .dc{
            width:80%;
            height: 175px;
            align-self: start;

            a{
                font-size: 22px;
            }

            #wallFlash{
                width: 190px;
                height: 110px;
            }
        }

        .sw{
            width:80%;
            height: 175px;
            align-self: start;

            a{
                font-size: 22px;
            }

            #wallSw{
                width: 190px;
                height: 110px;
            }
        }

        .shop{
            font-size: 22px;
        }

    }

    #mainContacto{
        height: 120vh;
        grid-template-rows: 0.1fr 1fr;
        
        .parrafo{
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            align-self: start;

            .parrafo__Titulo{
                font-size: 25px;
                margin-top: 5px;
            }

            .parrafo__Texto{
                margin-top: 0px;
                margin-left: 40px;
                font-size: 14px;
            }
        }

        .formulario{
            form{
                
                .datos{
                    margin-top: 20px;
                }

                .datosDos{  
                    width: 100%;

                    .lineas{
                        
                        label{
                            margin-right: 0px;
                            margin-left: 8px;
                            font-size: 12px;
    
                            input{
                                margin-right: 1px;
                            }
                        }                        
                    } 
                }

                .datosTres{    
                    width: 100%;

                    .licencias{
                        label{
                            margin-right: 0px;
                            margin-left: 8px;
                            font-size: 11px;
    
                            input{
                                margin-right: 1px;
                            }
                        }       
                    }
                }  

                .datosCuatro{
                    width: 100%;
                }

                .datosCinco{
                    width: 100%;
                }
            }
            
        }
    }

     footer{
        height: 7vh;
        .textoFooter{
            font-size: 18px; 
            
        }
    }
}


@media screen and (min-width: 481px) and (max-width: 768px){
    header{
        height: 12vh;
        grid-template-columns: 2fr 0.1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imgFunko fuenteBoton"
        "imgFunko fuenteBoton";

        #logosRedes{
            display: none;
        }

        .imgFunko{
            a{
                h1{
                    font-size: 3em;  
                }
            }
        }

        .fuenteBoton{
            margin-right: 0px;
            grid-row-gap: 3px;

            #botonLogin, #botonRegistro{
                font-size: 7px;
                width: 70px;
                height:20px;
                border-radius: 8px;
                border: $color-background solid 2px;
                margin-right: 0px;
            }
        }
    }

    nav{
        height: 24vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "listaMenu";     
        background-color: white;
        justify-items: stretch;

        a{
            &:link, &:visited, &:active{
                font-size: 10px;
                text-align: center;
            }
        }

        li{
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 8px; 
            background-color: $color-background;
           
            
        }

        #buscador{
            display: none;
        }
    }

    #mainIndex{
        height: 75vh;

        #multimedia{
            grid-column-gap: 10px;

            #videos{
                height: 30vh;
                grid-template-rows: 0.5fr 1fr;

                .videoPrincipal{
                    .video__Titulo{
                        font-size: 10px;
                        line-height: 12px;
                    }

                    .video__Texto{
                        font-size: 8px;
                        font-weight:500;
                        line-height: 12px;
                        margin-top: 10px;
                    }
                }

                #iframeV{
                    align-self: center;

                    iframe{
                        width: 159px;
                        height: 109px;
                    }
                }
            }

            #fotos{
                height: 30vh;
                grid-template-rows: 0.5fr 1fr;

                .fotoPrincipal{
                    .foto__Titulo{
                        font-size: 10px;
                        line-height: 12px;
                    }

                    .foto__Texto{
                        font-size: 8px;
                        font-weight:500;
                        line-height: 12px;
                        margin-top: 10px;
                    }
                }

                .portadaFotos{
                    align-self: center;

                    #portadaDeFotos{
                        width: 159px;
                        height: 109px;
                    }
                }
            }
        }

        #picSpider{
            .pic{
                #spiderManPortada{
                    width: 190px;
                    height: 190px;
                }
            }

            #slogan{
                justify-self: left;
                translate: -40px;
                text-align: center;
                font-size: 18px;
            }
        }
    }

    #mainHistoria{
        grid-row-gap: 15px;

        #parrafoUno{
            .parrafo{
                .parrafo__Titulo{
                    font-size: 18px;
                    text-align: center;
                    
                }
                .parrafo__Texto{
                    font-size: 12px;
                    line-height: 20px;
                    text-align: justify;
                }
            }
        }
    
        #parrafoDos{
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "fotoSectParrafoDos fotoParaMobil"
            "sectParrafoDos sectParrafoDos";
            justify-items: center;
            grid-row-gap: 5px;
            grid-column-gap: 15px;
    
            .fotoParrafoDos{
                grid-area: fotoSectParrafoDos;
                #fotoTiendaFunko{
                    width: 190px;
                    height: 120px;
                    margin-left: 10px;
                }
            }
    
            .fotoParaMobil{
                grid-area: fotoParaMobil;
                display: block;
                justify-items: center;
            
                img{
                    width: 190px;
                    height: 120px;
                    margin-right: 10px;
                }
            }
    
            .parrafo{
                font-size: 12px;
                line-height: 20px;
                text-align: justify;
            }
        }
    
        #parrafoTres{
            display: block;
            .parrafo{
                
                .parrafo__Texto{
                    font-size: 12px;
                    line-height: 20px;
                    margin-right: 0px;
                    margin-left: 0px;
                    justify-self: center;
                    text-align: justify;
                }
            }
            
            .fotoParrafoTres{              
                #fotoTiendaFunkoDos{
                    display: none;
                }
            }
        }
    
        #parrafoCuatro{
            display: none;
    
        }
    }

    #mainComunidad{
        height: 65vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 0.1fr);
        grid-template-areas:
        "tituloComunidad"
        "foro" 
        "telegram"
        "discord";
        grid-row-gap: 15px;

        #tituloComunidad{
            #parrafoUno{
                .parrafo{
                    .parrafo__Titulo{
                        font-size: 18px;
                        text-align: center;
                    }

                    .parrafo__Texto{
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
        
        .foro{
            border: #f44741 solid 3px;
            width: 400px;
            height: 100px;
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "comunidad foroTitulo"; 

            align-items: center;
            align-content: center;
            
            .foro__Titulo{
                font-size: 18px;
                justify-self: left;
            } 
    
            .comunidad__Texto{
                display: none;  
            }
    
            .comunidad{
                font-size: 18px;
                align-content: center;
    
                #logoForo{
                    width: 70px;
                    height: 70px;   
                    margin-top: 20px;
                }
            } 
        }
        
        .telegram{
            border: rgb(10, 160, 110) solid 3px;
            width: 400px;
            height: 100px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "comunidad foroTitulo"; 
            align-content: center;
    
            .foro__Titulo{
                font-size: 18px;
                justify-self: left;
            } 
    
            .comunidad__Texto{
                display: none;  
            }
    
            .comunidad{
                font-size: 18px;
            
                #logoTelegram{
                    width: 70px;
                    height: 70px;  
                    margin-top: 20px;
                }
            } 
        }
    
        .discord{
            border: #c9c949 solid 3px;
            width: 400px;
            height: 100px;
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "comunidad foroTitulo"; 
            align-content: center;
    
            .foro__Titulo{
                font-size: 18px;
                justify-self: left;
            } 
    
            .comunidad__Texto{
                display: none;  
            }
        
            .comunidad{
                font-size: 18px;
    
                #logoDiscord{
                    width: 70px;
                    height: 70px;  
                    margin-top: 20px;
                }
            } 
        }

        
       
    
        

    }

    #mainColecciones{
        height: 60vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: 
        "parrafoUno parrafoUno"
        "marvel dc"
        "shop shop";
        grid-row-gap: 2px;

        #parrafoUno{    
            .parrafo{
                .parrafo__Titulo{
                    font-size: 18px;
                    margin-top: 5px;
                    line-height: 50px;
                    text-align: center;
                }

                .parrafo__Texto{
                    display: none;
                }
            }
        }

        .marvel{
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
            grid-template-areas: 
            "categoriaMarvel"
            "capi";
    
            a {
                font-size: 18px;
                align-self: end;
            }
    
            #wallCapi{
                width: 180px;
                height: 100px;
            }
        }

        .dc{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
            grid-template-areas: 
            "categoriaDc"
            "flash";
           
            a {
                font-size: 18px;
                align-self: end;
            }
    
            #wallFlash{
                width: 180px;
                height: 100px;      
            }
        }
    
        .sw{
            display: none;
        }

        .shop{
            font-size: 16px;
            align-self: center;
        }

        $borderFranquicias:(
        marvel: #f04f97,
        dc: #eef356,
        
    );

    @each $franquicia, $color in $borderFranquicias{
        .franquicia-#{$franquicia} {
            border: $color solid 4px;
            width: 200px;
            height: 300px;            
        }
    }

    }

    #mainContacto{
        height: 155vh;
        grid-template-rows: 0.1fr 2fr;
        
        .parrafo{
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            align-self: start;

            .parrafo__Titulo{
                font-size: 20px;
                margin-top: 5px;
            }

            .parrafo__Texto{
                margin-top: 0px;
                margin-left: 40px;
                font-size: 13px;
            }
        }

        .formulario{
            margin-left: 20px;
            margin-right: 20px;

            form{ 
                .datos{
                    width: 100%;
                    margin-top: 20px;
                }

                .datosDos{  
                    width: 100%;

                    .textoDatos{
                        font-size: 13px;
                    }
                    
                    .lineas{
                        display: flex;
                        flex-direction:column;

                        label{
                            margin-right: 5px;
                            margin-left: 1px;
                            margin-bottom: 5px;
                            font-size: 12px;

                            input{
                                margin-left: 5px;
                                margin-bottom: 5px;
                            }
    
                           
                        }                        
                    } 
                }

                .datosTres{    
                    width: 100%;

                    .textoDatos{
                        font-size: 13px;
                    }

                    .licencias{
                        display: flex;
                        flex-direction:column;
        
                    
                        label{    
                            margin-right: 5px;
                            margin-left: 1px;
                            margin-bottom: 5px;
                            font-size: 12px;

                            input{
                                margin-left: 5px;
                                margin-bottom: 5px;
                            }
                            
    
                            
                        }       
                    }
                }  

                .datosCuatro{
                    width: 100%;                    
                }

                .datosCinco{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 0.5fr 1fr;
                    grid-template-areas: 
                    "novedades novedades"
                    "opciones btnEnviar";

                    p{
                        grid-area: novedades;
                    }

                    .opciones{
                        grid-area: opciones;
                    }

                    .enviar{
                        grid-area: btnEnviar;
                        justify-self: right;
                    }
                   
                  
                    
                }
            }
            
        }
    }

    footer{
        height: 6vh;

        .textoFooter{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 480px){
    header{
        height: 12vh;
        grid-template-columns: 2fr 0.1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imgFunko fuenteBoton"
        "imgFunko fuenteBoton";

        #logosRedes{
            display: none;
        }

        .imgFunko{
            a{
                h1{
                    font-size: 3em;  
                }
            }
        }

        .fuenteBoton{
            margin-right: 0px;
            grid-row-gap: 3px;

            #botonLogin, #botonRegistro{
                font-size: 7px;
                width: 70px;
                height:20px;
                border-radius: 8px;
                border: $color-background solid 2px;
                margin-right: 0px;
            }
        }
    }

    nav{
        height: 24vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "listaMenu";     
        background-color: white;
        justify-items: stretch;

        a{
            &:link, &:visited, &:active{
                font-size: 10px;
                text-align: center;
            }
        }

        li{
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 8px; 
            background-color: $color-background;
           
            
        }

        #buscador{
            display: none;
        }
    }

    #mainIndex{
        height: 75vh;

        #multimedia{
            grid-column-gap: 10px;

            #videos{
                height: 30vh;
                grid-template-rows: 0.5fr 1fr;

                .videoPrincipal{
                    .video__Titulo{
                        font-size: 10px;
                        line-height: 12px;
                    }

                    .video__Texto{
                        font-size: 8px;
                        font-weight:500;
                        line-height: 12px;
                        margin-top: 10px;
                    }
                }

                #iframeV{
                    align-self: center;

                    iframe{
                        width: 159px;
                        height: 109px;
                    }
                }
            }

            #fotos{
                height: 30vh;
                grid-template-rows: 0.5fr 1fr;

                .fotoPrincipal{
                    .foto__Titulo{
                        font-size: 10px;
                        line-height: 12px;
                    }

                    .foto__Texto{
                        font-size: 8px;
                        font-weight:500;
                        line-height: 12px;
                        margin-top: 10px;
                    }
                }

                .portadaFotos{
                    align-self: center;

                    #portadaDeFotos{
                        width: 159px;
                        height: 109px;
                    }
                }
            }
        }

        #picSpider{
            .pic{
                #spiderManPortada{
                    width: 190px;
                    height: 190px;
                }
            }

            #slogan{
                justify-self: left;
                translate: -40px;
                text-align: center;
                font-size: 18px;
            }
        }
    }

    #mainHistoria{
        grid-row-gap: 15px;

        #parrafoUno{
            .parrafo{
                .parrafo__Titulo{
                    font-size: 18px;
                    text-align: center;
                    
                }
                .parrafo__Texto{
                    font-size: 12px;
                    line-height: 20px;
                    text-align: justify;
                }
            }
        }
    
        #parrafoDos{
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "fotoSectParrafoDos fotoParaMobil"
            "sectParrafoDos sectParrafoDos";
            justify-items: center;
            grid-row-gap: 5px;
            grid-column-gap: 15px;
    
            .fotoParrafoDos{
                grid-area: fotoSectParrafoDos;
                #fotoTiendaFunko{
                    width: 190px;
                    height: 120px;
                    margin-left: 10px;
                }
            }
    
            .fotoParaMobil{
                grid-area: fotoParaMobil;
                display: block;
                justify-items: center;
            
                img{
                    width: 190px;
                    height: 120px;
                    margin-right: 10px;
                }
            }
    
            .parrafo{
                font-size: 12px;
                line-height: 20px;
                text-align: justify;
            }
        }
    
        #parrafoTres{
            display: block;
            .parrafo{
                
                .parrafo__Texto{
                    font-size: 12px;
                    line-height: 20px;
                    margin-right: 0px;
                    margin-left: 0px;
                    justify-self: center;
                    text-align: justify;
                }
            }
            
            .fotoParrafoTres{              
                #fotoTiendaFunkoDos{
                    display: none;
                }
            }
        }
    
        #parrafoCuatro{
            display: none;
    
        }
    }

    #mainComunidad{
        height: 65vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 0.1fr);
        grid-template-areas:
        "tituloComunidad"
        "foro" 
        "telegram"
        "discord";
        grid-row-gap: 15px;

        #tituloComunidad{
            #parrafoUno{
                .parrafo{
                    .parrafo__Titulo{
                        font-size: 18px;
                        text-align: center;
                    }

                    .parrafo__Texto{
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
        
        .foro{
            border: #f44741 solid 3px;
            width: 400px;
            height: 100px;
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "comunidad foroTitulo"; 

            align-items: center;
            align-content: center;
            
            .foro__Titulo{
                font-size: 18px;
                justify-self: left;
            } 
    
            .comunidad__Texto{
                display: none;  
            }
    
            .comunidad{
                font-size: 18px;
                align-content: center;
    
                #logoForo{
                    width: 70px;
                    height: 70px;   
                    margin-top: 20px;
                }
            } 
        }
        
        .telegram{
            border: rgb(10, 160, 110) solid 3px;
            width: 400px;
            height: 100px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "comunidad foroTitulo"; 
            align-content: center;
    
            .foro__Titulo{
                font-size: 18px;
                justify-self: left;
            } 
    
            .comunidad__Texto{
                display: none;  
            }
    
            .comunidad{
                font-size: 18px;
            
                #logoTelegram{
                    width: 70px;
                    height: 70px;  
                    margin-top: 20px;
                }
            } 
        }
    
        .discord{
            border: #c9c949 solid 3px;
            width: 400px;
            height: 100px;
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "comunidad foroTitulo"; 
            align-content: center;
    
            .foro__Titulo{
                font-size: 18px;
                justify-self: left;
            } 
    
            .comunidad__Texto{
                display: none;  
            }
        
            .comunidad{
                font-size: 18px;
    
                #logoDiscord{
                    width: 70px;
                    height: 70px;  
                    margin-top: 20px;
                }
            } 
        }

        
       
    
        

    }

    #mainColecciones{
        height: 60vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: 
        "parrafoUno parrafoUno"
        "marvel dc"
        "shop shop";
        grid-row-gap: 2px;

        #parrafoUno{    
            .parrafo{
                .parrafo__Titulo{
                    font-size: 18px;
                    margin-top: 5px;
                    line-height: 50px;
                    text-align: center;
                }

                .parrafo__Texto{
                    display: none;
                }
            }
        }

        .marvel{
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
            grid-template-areas: 
            "categoriaMarvel"
            "capi";
    
            a {
                font-size: 18px;
                align-self: end;
            }
    
            #wallCapi{
                width: 180px;
                height: 100px;
            }
        }

        .dc{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
            grid-template-areas: 
            "categoriaDc"
            "flash";
           
            a {
                font-size: 18px;
                align-self: end;
            }
    
            #wallFlash{
                width: 180px;
                height: 100px;      
            }
        }
    
        .sw{
            display: none;
        }

        .shop{
            font-size: 16px;
            align-self: center;
        }

        $borderFranquicias:(
        marvel: #f04f97,
        dc: #eef356,
        
    );

    @each $franquicia, $color in $borderFranquicias{
        .franquicia-#{$franquicia} {
            border: $color solid 4px;
            width: 200px;
            height: 300px;            
        }
    }

    }

    #mainContacto{
        height: 155vh;
        grid-template-rows: 0.1fr 2fr;
        
        .parrafo{
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            align-self: start;

            .parrafo__Titulo{
                font-size: 20px;
                margin-top: 5px;
            }

            .parrafo__Texto{
                margin-top: 0px;
                margin-left: 40px;
                font-size: 13px;
            }
        }

        .formulario{
            margin-left: 20px;
            margin-right: 20px;

            form{ 
                .datos{
                    width: 100%;
                    margin-top: 20px;
                }

                .datosDos{  
                    width: 100%;

                    .textoDatos{
                        font-size: 13px;
                    }
                    
                    .lineas{
                        display: flex;
                        flex-direction:column;

                        label{
                            margin-right: 5px;
                            margin-left: 1px;
                            margin-bottom: 5px;
                            font-size: 12px;

                            input{
                                margin-left: 5px;
                                margin-bottom: 5px;
                            }
    
                           
                        }                        
                    } 
                }

                .datosTres{    
                    width: 100%;

                    .textoDatos{
                        font-size: 13px;
                    }

                    .licencias{
                        display: flex;
                        flex-direction:column;
        
                    
                        label{    
                            margin-right: 5px;
                            margin-left: 1px;
                            margin-bottom: 5px;
                            font-size: 12px;

                            input{
                                margin-left: 5px;
                                margin-bottom: 5px;
                            }
                            
    
                            
                        }       
                    }
                }  

                .datosCuatro{
                    width: 100%;                    
                }

                .datosCinco{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 0.5fr 1fr;
                    grid-template-areas: 
                    "novedades novedades"
                    "opciones btnEnviar";

                    p{
                        grid-area: novedades;
                    }

                    .opciones{
                        grid-area: opciones;
                    }

                    .enviar{
                        grid-area: btnEnviar;
                        justify-self: right;
                    }
                   
                  
                    
                }
            }
            
        }
    }

    footer{
        height: 6vh;

        .textoFooter{
            font-size: 14px;
        }
    }
}
