@import "./varios";
@import "./header";
@import "./nav";
@import "./main";
@import "./footer";


@font-face {
    font-family: "armata";
    src: url(../assets/fonts/Armata/Armata-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "headeri"
    "nav"
    "main"
    "footer";
}


