@font-face {
    font-family: "armata";
    src: url(../assets/fonts/Armata/Armata-Regular.ttf);
}

@font-face {
    font-family: "milks";
    src: url(../assets/fonts/Milks/tt-milks-casual-pie-inline.ttf);
}
@font-face {
    font-family: "engle";
    src: url(../assets/fonts/Englebert/Englebert.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "headeri"
    "nav"
    "main"
    "footer";
}

@import "./varios";
@import "./header";
@import "./nav";
@import "./main";
@import "./footer";
